[2020-08-12 10:10] ciro-unity opened #2 "Movement axis is not recalculated if camera rotates while holding Keyboard keys"
**Short description**
When holding Keyboard keys to move, the character will keep heading in the same direction even if the camera rotates.

**Expected behaviour**
The direction of movement should update as the camera rotates.

**To Reproduce**
1. Open the gameplay scene, press Play.
2. Move the character with arrow keys or WASD (not joypad). Keep the Up direction pressed.
3. Rotate the camera wit

[2020-09-25 10:41] #2 closed, assigned to DapperDino

[2020-09-30 10:58] ciro-unity opened #7 "Movement is very snappy when changing directions while using Keyboard controls"
**Short description**
When using the keyboard, the movement of the character is very snappy.

**Expected behaviour**
The character smoothly rotates to face the direction of movement.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the gameplay scene, press Play.
2. Move the character with arrow keys or WASD (not joypad). Press up, then right, without releasing the previous key.
3. Notic

[2020-09-30 11:18] ciro-unity opened #8 "Player can climb steep surfaces"
**Short description**
The player can climb very steep surfaces if it spams the jump button.

**Expected behaviour**
One would expect the player to slide down, and to be prevented from jumping if not on a stable surface.

**To Reproduce**
1. Open gameplay scene, press Play.
2. Move up the mountain made with Terrain.
3. Keep moving, the player will stop on a steep slope.
4. Press the jump button. No

[2020-09-30 11:25] DapperDino commented on #7
I would like to solve this bug!

[2020-09-30 11:28] DapperDino commented on #7
I would like to fix this bug!

[2020-09-30 11:33] ciro-unity commented on #7
Hey @DapperDino, for sure! I'll assign it to you on the roadmap. Thanks!

Here's the card, btw: https://unity-open-projects.codecks.io/decks/13/card/16e-movement-is-very-snappy-if-using-keyboard

[2020-09-30 12:21] #7 closed

[2020-09-30 14:36] scascar commented on #8
I'd like to work on this issue.

[2020-09-30 17:17] TJHeuvel opened #11 "[Feedback] Mention the target Unity Version"
Only by digging through the repo did i find that Unity 2019.4.7f1 was used last, it would be preferable if the intended version was mentioned somewhere in the readme or contributing manual.

[2020-09-30 17:49] ciro-unity commented on #11
That's a great suggestion and I honestly don't know how I managed to miss mentioning it. I'm adding it where it makes sense! Thanks Tijmen!

[2020-09-30 17:49] #11 closed

[2020-09-30 21:27] Quickz opened #15 "Player jump doesn't get canceled upon hitting an object"
#**Short description**
When performing a jump the player stays in the air even when he hits an object from above until the jump is finished.

**Expected behaviour**
The jump should stop instantly and the player should start falling down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'CharController' scene
2. Run the project
3. Move your character so that there's an obstacle above his

[2020-09-30 22:10] OldManCharles commented on #15
I'd like to fix this one!

[2020-09-30 22:59] ciro-unity commented on #15
Great find, love that you attached a video of the issue!

[2020-09-30 23:07] ciro-unity commented on #15
Fixed in PR #16

[2020-09-30 23:07] #15 closed

[2020-09-30 23:24] ciro-unity commented on #8
Oh no, an overlap! Oscar, maybe you can jump in the PR #12 and check if the solution works / the code is good?

[2020-10-01 14:07] SundarakrishnanN opened #24 "Character gets occluded by the environment"
**Short description**
Sometimes the obstacles covers the player and hence the player is not seen in the camera(cinemachine) and instead only the obstacle is seen,...

**Expected behaviour**
The expected result is to  view the player at all times and even if there are obstacles we should view our player only...The cinemachine must align itself in such a way that the player is seen instead of obstac

[2020-10-01 14:52] dhumildholiya-code commented on #8
Hello, I'd Like to work on this issue. Let me know if it's not assigned.

[2020-10-01 19:28] ciro-unity commented on #24
Hi, I think it's a valid bug even though I was hoping to fix it later once we know better how the environment looks like. I think there's no way to fix it, but rather you change the behaviour of the camera.

So for now I think we should leave it open and come back to this later.
I also changed the title of the issue, the previous one (_Bug In The Cine-machine Controller_) wasn't descriptive of wha

[2020-10-01 20:19] tacman opened #28 "Project should use latest release of 2019.4"
**Short description**
The base project should be the latest release of 2019.4.  That way, new users aren't prompted to update the project:

![image](https://user-images.githubusercontent.com/619585/94858923-bef2e580-0401-11eb-8b83-2ac4d8e054a4.png)

**To Reproduce**
Clone and open.

[2020-10-01 21:08] Quickz commented on #24
I can throw in a couple of random ideas if moving the camera isn't an option:

Options1:
Make any object that obscures the view of the player character slightly transparent.

Options2:
Have the game render a silhouette of the player character through the objects that obscure him.

For a reference here's a screenshot of a game called Overwatch where a character is using an ability which allows her

[2020-10-01 22:36] luisquid commented on #28
Isn't the project already on 2019.4.7?

[2020-10-01 23:03] tacman commented on #28
Yes, my bad.  I don't fully understand the versioning in Unity, but that's
irrelevant, since the Contributions Guidelines explicitly exclude library
versions.

Hoping to find some other way to contribute!

On Thu, Oct 1, 2020 at 6:36 PM Luis Bazan <notifications@github.com> wrote:

[2020-10-01 23:07] luisquid commented on #28
Hey, thank you so much for wanting to contribute!
I'm sure with the help of everyone something great will come out out of this.
It would be cool if you could close the issue as to not clutter the issues list :D

[2020-10-01 23:09] #28 closed

[2020-10-02 00:16] dyoxyne commented on #24
Another solution could also be [Cinemachine Collider](https://docs.unity3d.com/Packages/com.unity.cinemachine@2.3/manual/CinemachineCollider.html) extension.
It will however affects the camera behavior (but it is pretty common in 3rd person platformer games).

[2020-10-02 01:07] notwill111 opened #32 "Camera of character controller goes through ground"
In the Character controller scene, when the character moves around. Its camera can go through the ground and see under the map.

Camera go's through the ground instead of going over it.

Steps to reproduce the behavior:
1. Go to 'Character Controller Scene'.
2. Play the scene.
3. Walk over to the mountain and climb over it, and walk down it straight.
4. The camera will go through the mountain.

No

[2020-10-02 02:57] ElgenTidwell commented on #32
I would like to fix this issue

[2020-10-02 03:00] ElgenTidwell commented on #24
I would like to help fix this issue using a dynamic system that works with any type of environment.

[2020-10-02 04:49] SundarakrishnanN commented on #24
Hi,
My solution would be to use the extension(Cine-machine Collider) and I would tweak a few values in the same(to make it better and smooth).
I have tried the same in the clone of the project and it is working fine.....I would like to do it sir....A  lot of them are also volunteering to solve the bug, but I would like to solve this bug... A lot of requirements in the game, doesn't seem that suite

[2020-10-02 06:49] ErikBehar opened #34 "Can we make labels for features?"
This would help to better track PR's that are different implementations of same feature, ie sort by label  ...
for example we have multiple PRs for: slope bug, spawn system, state machine system

[2020-10-02 07:57] OmarElKhatibCS opened #35 "Help me with my first step"
Hello , I've never work on team before or already existent project.
Can some one help me with first steps?

# About Me
I am a 20 years old student , I've been programming for long time , I know how to code. Also I worked on unity but it's from 2-3 years ago. As I said I've never work on a team before.

[2020-10-02 08:02] nslindtner commented on #35
Hi Omar

Take a look at this link: https://open.codecks.io/unity-open-project-1/decks/32

Click at the readme card - there is a lot of information. Especially the "usefull links" is pretty awesome. (I got the introduction video from that card: https://youtu.be/lYAHmthUO1M)

Happy reading .. and enjoy

[2020-10-02 08:19] OmarElKhatibCS commented on #35
Thanks , I am going to read it now.

[2020-10-02 09:56] SundarakrishnanN commented on #24
No , please dont work on it , I already found a fix...

[2020-10-02 10:58] Sposito commented on #24
Hey @SundarakrishnanN how familiar are you with working collaboratively on projects like this? You can always open a PR with your changes so people can comment on your solution even if it isn't meant to get in right away. Feel free to ping me if you wanna talk about it.

[2020-10-02 11:03] SundarakrishnanN commented on #24
Hi, @Sposito  I am not at all familiar with working on GitHub...So could you please help me out with how I can implement the changes on the original version...I downloaded a clone of the project and I fixed it...There were no changes to the scripts, there were changes to the Cine-machine.. Please help me out in proceeding further..
Thank you

[2020-10-02 11:32] MileyHollenberg commented on #34
I think having labels for each feature will become tedious and too granular. Having labels for types of PRs like Bugfix, Feature, Models, Textures, Sound, UI and such could be more useful.

As for the duplicate PRs, we're still looking in to how best to handle that situation but we'll update the community once there's a plan for that

[2020-10-02 11:48] LHunor opened #38 "After jumping, player can "stick" to object above him for a short time"
**Short description**
Player jumps, cancels jump before collides with object above him. In this case player only stops upward motion after gravitational force pulls him down, making it look like it got "stuck" onto the object above him.

**Expected behaviour**
Player jumps, cancels jump before collides with object above him. After the collision, the upward motion stops immediately and gravity star

[2020-10-02 12:16] Anmol270900 commented on #38
Hi! I am a beginner at Unity and would love to work on this issue. Would be great it's assigned to me.
Thankyou.

[2020-10-02 12:41] MileyHollenberg commented on #32
Keep in mind that the project is using Cinemachine, you can simply fix this with one of the Cinemachine features (not exactly sure which one) so there's no need for any code change on this :)

[2020-10-02 13:28] ciro-unity commented on #34
Agree with Miley. As the feature count grows, it will become a nightmare to handle and we will have labels that become unused - but still show up in the list.

Thanks for the suggestion though!

[2020-10-02 13:28] #34 closed

[2020-10-02 13:30] ciro-unity commented on #35
Closing it, thanks for the help @nslindtner!
Good luck @OmarElKhatibCS.

[2020-10-02 13:30] #35 closed

[2020-10-02 13:31] ciro-unity commented on #32
This issue is a duplicate of #24, so I'm closing it.
Also what Miley suggests is true.

Thanks anyway!

[2020-10-02 13:31] #32 closed

[2020-10-02 13:33] ciro-unity commented on #38
Huh, I thought this had been fixed by Pull Request #16? Is it the same issue? Still happening?

[2020-10-02 14:11] LHunor commented on #38
Same issue, #16 solved it partially, but it still happens in some cases.
@Quickz 's solution:
[code]
Everything inside the `if` statement works well, the problem is with the `condition`. Releasing the jump button cancels the jump, which results in `isJumping = false`. Therefore, when the player cancels the jump before the collision and this function fires, the fix to the problem won't be executed.

[2020-10-02 15:26] MileyHollenberg commented on #24
This would be my way of fixing this issue as well

[2020-10-02 15:47] MileyHollenberg opened #40 "Avoid using magic numbers"
**Short description**
There seem to be some classes which use magic numbers, magic numbers are defined by simply being put into the code as a direct value instead of through a parameter. When using magic numbers it can be difficult to know what they actually mean and if you use the same number multiple times it will be difficult to refactor this if you want to change the value later on.

**Expecte

[2020-10-02 16:15] andrewreal commented on #40
I'd like to tackle this please.

[2020-10-02 16:47] andrewreal commented on #40
For https://github.com/UnityTechnologies/open-project-1/blob/master/UOP1_Project/Assets/Scripts/Characters/Character.cs#L92 I'm not totally clear on what that value represents?

It seems to be a rotationSensitivty but can you suggest a better, more descriptive variable name for this?

[2020-10-02 16:50] MileyHollenberg commented on #40
Since it's referring to a movement vector I'd say it's a movement threshold of some sorts. @Quickz any idea what this value represents?

[2020-10-02 17:48] FeralPug commented on #38
Shouldn't the isJumping bool get set to false once you are back on the ground I.e. you are done jumping. Would that solve the problem. I suppose I could explore all of the code relating to the jumping.

[2020-10-02 18:32] TheBossBaby commented on #40
Can I have the chance to tackle this issue?
 From the comments: https://github.com/UnityTechnologies/open-project-1/blob/master/UOP1_Project/Assets/Scripts/Characters/Character.cs#L81

This value seems `verticalMovementReset`

And for  https://github.com/UnityTechnologies/open-project-1/blob/master/UOP1_Project/Assets/Scripts/Characters/Character.cs#L92

I agree with @MileyHollenberg .

[2020-10-02 23:54] ciro-unity commented on #38
Oh, I see, good catch!! Seems like Quickz sent a quick fix. Let me check if it works.

[2020-10-03 00:02] #38 closed

[2020-10-03 05:10] MEGATANK58 opened #48 "Player gets stuck in mid-air when colliding with an obstacle"
**Short description**
Players can do some movement tricks to align themselves so their hands get stuck in Obstacle,not sure if that's because of the way obstacles are made in the project but its not intended to happen

**Expected behaviour**
Player should not be able to float in air and instead fall to ground

**To Reproduce**
Steps to reproduce the behavior:
1. Click Play
2. Go to the obstacles i

[2020-10-03 06:01] MPjeremy commented on #48
Hi, could you provide more details? I can't seem to reproduce the problem

[2020-10-03 07:12] Hemanth759 commented on #48
Hey I was able to reproduce.
![image](https://user-images.githubusercontent.com/33123731/94985614-c9ce8700-0575-11eb-8dfb-e3ded8cbc7f0.png)

I think the problem is with the character collider.
![image](https://user-images.githubusercontent.com/33123731/94985625-dd79ed80-0575-11eb-9286-248e9e0c1d42.png)

[2020-10-03 07:19] Hemanth759 commented on #48
So I moved the box collider of the building with some offset in x-axis and found that the player collider getting struck with one side of the box collider. (only one side though remaining side of the box collider works fine).
![image](https://user-images.githubusercontent.com/33123731/94985706-7577d700-0576-11eb-9d65-c04ba4d76a34.png)

[2020-10-03 07:24] Hemanth759 commented on #48
I created simple script which detects the collision on character and draws a line in the editor with one unit long.
Interestingly I found that the character is colliding with the boxcollider in sideways and that is preventing from falling down.
![image](https://user-images.githubusercontent.com/33123731/94985836-6e9d9400-0577-11eb-9691-1eaf8426cb4b.png)

![image](https://user-images.githubusercont

[2020-10-03 08:39] LayalHF commented on #48
I can add two small spheres for the hands for collision

[2020-10-03 11:50] ciro-unity commented on #48
Hey, I've updated the title since apparently the issue is not with the hands.

[2020-10-03 11:52] MEGATANK58 commented on #48
Thank you for updating the title it was quite unknown about the source of the issue earlier so i thought it would be good to start

[2020-10-03 14:26] richard-fine commented on #8
Related to this: If the player is walking up a steep-but-not-too-steep surface, should they move more slowly? I think that if you walk up a slope which is gradually increasing in steepness, it'd be strange to move at full speed and then suddenly be stopped.

Making the player walk more slowly depending on how much the ground is sloping upwards will better communicate to the player that they're app

[2020-10-03 14:50] MPjeremy opened #50 "Camera can clip into objects"
**Short description**
The camera can clip into objects.

**Expected behaviour**
The camera should not be able to clip through objects, or make it so that the object fades out nicely.

**To Reproduce**
1. move the character behind a giant object(for example the mountain)
2. position the camera so that the mountain is right in front of it
3. move forward
4. This (wrong behaviour) happens.

**Notes**

[2020-10-03 14:56] Hemanth759 commented on #50
This is the same as https://github.com/UnityTechnologies/open-project-1/issues/32

[2020-10-03 16:22] Quickz commented on #48
Sounds like #8

Those small buildings are slightly rotated so you're essentially going uphill on a very steep surface.

[2020-10-03 16:34] Hemanth759 commented on #48
That actually makes sense @Quickz
So that is why the player wasn't able to jump properly from other side of the box collider as the boxcollider is blocking the player.

[2020-10-03 19:40] obregons opened #52 "NullReferenceException on UniversalRenderPipelineAsset"
**Short description**
When opening the project in Unity, the following error messages show in the Editor Console:

UnityEngine.Rendering.Universal.UniversalRenderPipelineAsset.get_terrainDetailGrassBillboardShader () (at Library/PackageCache/com.unity.render-pipelines.universal@7.3.1/Runtime/Data/UniversalRenderPipelineAsset.cs:802)

UnityEngine.Rendering.Universal.UniversalRenderPipelineAsset.get

[2020-10-04 02:32] MEGATANK58 commented on #48
I think your right so we should fix #18 and that will automatically (or should) fix this

[2020-10-04 06:57] ciro-unity commented on #50
(I edited the opening comment for readability, no need to keep the issue template and all its headers in the issue)

[2020-10-04 07:04] ciro-unity commented on #50
Hmm. In some ways, it's true.

However, as you can see from @MPjeremy's screenshot attached, the player here is visible and the issue is that the camera is clipping through the ground probably because of its near plane property being too close.

In this sense, I should have left open #32 and close this one as a duplicate :)
But the thing is: if we fix #24 that will fix #32, because if the camera c

[2020-10-04 07:07] ciro-unity commented on #32
@notwill111 see discussion here: https://github.com/UnityTechnologies/open-project-1/issues/50#issuecomment-703213159

Even though I want to keep the issue closed to avoid too many similar ones, it still added something to the conversation ;)

[2020-10-04 08:11] GintasS commented on #52
Couldn't reproduce, but maybe that's because I upgraded the project to the 2019.4.11f version. This was required to run the project.

[2020-10-04 08:14] casefc3s commented on #40
It's a movement threshold to prevent NaN results from trying to rotate in a non-direction (zero-length vector), and potentially to also prevent jitter from small input sensitivity (e.g. a centered joystick on a gamepad is rarely actually zero) but the latter is an assumption.

[2020-10-04 09:26] andrewreal commented on #40
Thanks for clarifying.

I've submitted this as PR https://github.com/UnityTechnologies/open-project-1/pull/55

[2020-10-04 09:31] ciro-unity commented on #52
While I recognise the error message, it's something that goes away with a Clear in the console and has no impact on development, so it's very minor.

[2020-10-04 09:31] #52 closed

[2020-10-04 10:07] MEGATANK58 commented on #24
Is anyone working on this yet? I wanna work on this

[2020-10-04 10:10] Barigamb738 commented on #50
I want to do this is anyone already doing it?

[2020-10-04 10:11] SundarakrishnanN commented on #24
Hey, I have fixed this issue in a clone of the project but since I am not yet assigned by unity,I am not sure how I can implement the changes in the official project(I am new to GitHub, I would be glad if someone helped me by explaining about GitHub and how I can implement the changes done in the clone of the project in the official version)..
Thank you

[2020-10-04 10:15] SundarakrishnanN commented on #50
I have fixed #24 in a clone of the project, but how do I implement the changes to the official project?

[2020-10-04 10:16] Barigamb738 commented on #50
You have to make a pull request.

[2020-10-04 10:16] SundarakrishnanN commented on #24
How do I create a pull request for this? How do I show my fix to Unity ?(I have fixed it in a clone of the project) Please help me.I am new to GitHub..
Thank you,

[2020-10-04 10:21] SundarakrishnanN commented on #50
Hey @Barigamb738 , I followed it but since I am not assigned to do so,when I tried to publish the changes it said that I am not allowed to but I can create a fork of it instead..Please help me..I am very new to GitHub.
Thank you,

[2020-10-04 11:11] MEGATANK58 commented on #24
Just open a PR on the Pull Request page (near Issues) on GitHub page of this repository and click New PR then upload all the files

[2020-10-04 11:32] SundarakrishnanN commented on #24
thanks for the reply,should I upload the entire Unity project folder present locally on my system? What is the Base : Master and Compare: Master ? From the day since I opened this issue I am struggling to upload the fix.
Thank you

[2020-10-04 12:07] SundarakrishnanN commented on #24
Hey, @ciro-unity
I am not able to create a pull request here , so I committed the fix in the fork of the project
Link to the Fix : https://github.com/SundarakrishnanN/open-project-1/commit/fe02b890f437790cf928dea0bb9370923e719127
Is this enough? Is the solution good enough? How else should I proceed to make the changes in the original version?
Thank you,

[2020-10-04 13:54] Barigamb738 commented on #50
I don't really understand your problem sorry

[2020-10-04 15:18] alifsamudra74 opened #58 "Player climb up by clipping through building"
**Short description**
Player can climb up buildings by clipping through the edge of a building while jumping

**Expected behaviour**
Reach maximum jump height then fall down

**To Reproduce**
Steps to reproduce the behavior:
1. Play the scene
2. Go to the side of a bulding
3. Click space (jump)
4. Immediately move toward the building
5. Player got clipped through the building then move upwards

**

[2020-10-04 17:11] ciro-unity commented on #48
Let's not close bugs that haven't been fixed. Sure, could be a duplicate and have the same root cause, but we don't know.
If you close it:
- We might lose track of it until way later
- Somebody else might open the bug report again if they see it happen.

[2020-10-04 17:12] ciro-unity commented on #58
Do you think this might be related to #48? Seems very similar.

[2020-10-04 18:49] Quickz commented on #58
Seems like same as #48 but with a more straightforward explanation.

[2020-10-04 21:35] benforbb opened #68 "Look Away"
- nothing to see here.

[2020-10-04 21:35] #68 closed

[2020-10-04 21:43] #40 closed

[2020-10-05 02:56] MEGATANK58 commented on #58
This is same as #48 The player is able to do that because of the Character collider near the legs which is happening because players can climb steep surfaces #8

[2020-10-05 05:12] MEGATANK58 commented on #48
Oh Sorry my bad

[2020-10-05 05:26] MEGATANK58 commented on #24
@SundarakrishnanN  Publish your current files to your fork using GitHub desktop then to go your repository you should see something like this:
![image](https://user-images.githubusercontent.com/51410502/95043004-345c0000-06f9-11eb-9fbb-df75c434b0c6.png)
Click Pull Request
![image](https://user-images.githubusercontent.com/51410502/95043062-5f465400-06f9-11eb-9301-ccf3f0b24a76.png)
And then follow

[2020-10-05 05:41] SundarakrishnanN commented on #24
Hey @MEGATANK58
Thanks a lot for your help..It worked!

[2020-10-05 05:48] alifsamudra74 commented on #58
Oh, sorry if it already issued. Maybe my description is a little bit more spesific to climbing buildings

[2020-10-05 06:23] MEGATANK58 commented on #58
Yes, but cause of the issue is same

[2020-10-05 23:06] #8 closed

[2020-10-06 16:31] SundarakrishnanN commented on #50
Itsok! It got resolved !Thanks for your concern!

[2020-10-07 13:32] #58 closed

[2020-10-08 03:48] HarshNarayanJha opened #78 "Got a bunch of errors while opening the project"
I downloaded the project from here(github) and opened it in unity editor, I then got many resolving packages error, so i connected to internet and then reimported. It then downloaded all the packages, but when editor open and i hit the play button, i noticed there were still some errors

... is inaccessible due to itsbprotection level

failed to load ... because it was serialized with a higher ver

[2020-10-08 05:20] MEGATANK58 commented on #78
This is not a global error (yet) and it doesn't happens to everyone so probably not a issue as well,However can you show the screenshots of the errors.

[2020-10-08 05:50] AyoubGharbi commented on #78
Hey @HarshNarayanJha,
The current Unity's version of the project is 2019.4.11f1, make sure you are opening the project with a 2019.4.x version or above.

[2020-10-08 07:45] MEGATANK58 commented on #8
@ciro-unity I actually tested the game today again and the bug is still there

[2020-10-08 12:13] MEGATANK58 commented on #78
It's happening because you have a lower version of unity you don't need to worry about this but I'll suggest to upgrade to Unity 2019.4.11f (as @AyoubGharbi suggested)

[2020-10-08 17:58] ciro-unity commented on #78
Yes, like the others say, we're currently on 2019.4.11 so please use that version or newer, and you should get no errors.
Closing.

[2020-10-08 17:58] #78 closed

[2020-10-09 15:35] chessboards opened #81 "Add Hacktoberfest tag"
**Short description**
Not a bug, but more so a suggestion/enhancement to add the tag `hacktoberfest` to the repository.

**Expected behavior**
Doing so would bring forth more contributors, and would participate in an open source oriented event that is intended to bring in more developers, as well as to plant trees for every person eligible in the event if they choose.

**To Reproduce**
Visit https

[2020-10-10 04:12] MEGATANK58 commented on #81
Not really a issue, i would suggest you to open a thread at Unity forum with Feature request tag for the suggestion

[2020-10-10 21:48] ciro-unity commented on #81
Sorry, but we're not going to take part in Hacktober. While the fest in itself is a great idea, it seems to attract a lot of spammy PRs for the sole goal of winning the t-shirt.

Read this too: https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-10 21:48] #81 closed

[2020-10-13 17:30] AlexChesser opened #84 "rename default branch from `master` to `main`"
While the change is expected to be coming to github overall, there is a move to rename default branches to `main`

https://www.zdnet.com/article/github-to-replace-master-with-main-starting-next-month/

The scale and scope of the change is small enough that it only takes a few seconds to do

more background https://jarv.is/notes/github-rename-master/

[2020-10-14 08:28] quayhoian commented on #50
TNJ4QJyGLLu15Mi33TuSiNP6a1oCzoMrMp

[2020-10-14 13:48] ciro-unity commented on #84
We can do. The only investment is having to keep master for all the existing open PRs, and manually merge them to `master` first and then to `main`. But it shouldn't be a big deal of work.
For new PRs - once we make `main` the default branch, it should just be automatic. Right?

https://github.com/github/renaming

[2020-10-14 14:31] AlexChesser commented on #84
I recently went through this exercise on our production environments at work. Around 50 repos didn't take much time at all. I tend to think the rip-off-the-band-aid approch is needed here, since at no point are there going to be FEWER pull requests.

Pull requests are blissfully easy to edit and it can 100% be done within the github website interface I can't imagine the change taking more than 15

[2020-10-14 14:35] AlexChesser commented on #84
yes - all new PRs will come in to `main` by default once you complete steps 1 and 2 above!

[2020-10-14 15:58] 66avvv opened #86 "分享个深度学习作品的网站"
[66深度学习网](https://66avvv.com/?q=gh)

[2020-10-16 06:04] 0479010347 commented on #15
- Is this app use full

[2020-10-16 06:16] 0479010347 opened #92 "> For new PRs - once we make main the default branch, it should just be automatic. Right?"
yes - all new PRs (~~will~~) should come in to `main` by default once you complete steps 1 and 2 above!

__Originally posted by @AlexChesser in https://github.com/UnityTechnologies/open-project-1/issues/84#issuecomment-708445107__

[2020-10-16 12:15] 0479010347 opened #93 "I think I have been hacked is there anyway you can get rid off the hack?🙏"
I think I have been hacked is there anyway you can get rid off the hack?🙏

- __Originally posted by @0479010347 in https://github.com/bit defender/bddisasm/issues/8#issuecomment-710008694__

[2020-10-16 12:16] 0479010347 commented on #93
[helpmeplease](****)

[2020-10-16 15:55] mccorkle commented on #93
This is the wrong forum to be asking for help if your computer has been compromised by hackers.

If you are confused about why you are receiving these notifications, it is because you are "watching" the github repo for the Unity Open-Project-1.  If you would like to no longer get them, just un-watch this repo.

[2020-10-17 04:51] MEGATANK58 commented on #92
Um whats your issue, please dont open unnecessary issues without a valid reason

[2020-10-17 19:57] #93 closed

[2020-10-17 19:58] ciro-unity commented on #92
@0479010347 this is not a forum, please don't use issues as conversations, thanks.
Here's a guide on Issues: https://guides.github.com/features/issues/

[2020-10-17 19:58] #92 closed

[2020-10-18 11:19] Remwrath opened #96 "Upgrade to latest 2019.4 LTS version"
Latests LTS is now 2019.4.12f1 ;)

[2020-10-19 04:26] MEGATANK58 commented on #96
I don't think we need a upgrade yet,there is no specific reason to do so and most of the people can't just keep updating and redownloading Unity every week or so just to be latest.

[2020-10-20 12:28] ciro-unity commented on #84
Ah that's great, I didn't know I could edit the PRs' target branch like that. I'll get on this then.

[2020-10-20 12:30] ManuelRauber commented on #84
You can also, if you need to, target another PR for example and GitHub will retarget dependent PRs if the base PR gets merged. Quite nice, if you have a bigger PR for refactoring split into several smaller PRs.

[2020-10-20 13:00] ciro-unity commented on #84
I've never seen this concept happen on this repo yet 🤣

[2020-10-20 13:27] #84 closed

[2020-10-23 04:15] SoundGuy commented on #96
@MEGATANK58  you don't really need to update your installation between minor updates. I'm on 2019.4.12f but i don't commit the  version file.

it would be nice if it was upgraded so i won't have that version file changed in my working copy - becuase i need to stash or discard it every time i check out another branch (along with a few other annyoying files i wish there was a way to just tell git to

[2020-10-23 04:23] SoundGuy commented on #96
also the packages in my unity installation are newer and then change the manifest file every time i open the project

{
  "dependencies": {
    "com.unity.addressables": "1.8.5",
    "com.unity.cinemachine": "2.6.0",
    "com.unity.ide.rider": "1.1.4",
    "com.unity.ide.vscode": "1.2.1",
    "com.unity.inputsystem": "1.0.0",
    "com.unity.polybrush": "1.0.2",
    "com.unity.probuilder": "4.2.3",

[2020-10-23 07:03] Eyap53 commented on #96
2019.4.13f1 is live.

[2020-10-23 12:50] Hemanth759 commented on #96
you can tell git to ignore some file adding that files to `.gitignore` file
Just a simple tutorial I found on youtube for gitignore file https://youtu.be/4a2ZVSzMMq8

[2020-10-23 15:42] GordonArber opened #103 "CLA is not completing as expected"
**Short description**
When I go through the process of signing the CLA, it never verifies that I have completed it.

**Expected behaviour**
I expect the CLA badge to turn green and to allow me to complete PRs.

**To Reproduce**
Steps to reproduce the behavior:
1. I click the "details" link: ![CLA1](https://user-images.githubusercontent.com/19920780/97024103-699f8500-1524-11eb-833a-488a3fd19e1c.jpg

[2020-10-23 16:55] SoundGuy commented on #96
.gitignore doesn’t work on files already added to the repository .

[2020-10-23 17:19] Hemanth759 commented on #96
True, totally forgot about that 😅

[2020-10-23 19:59] DeivSky commented on #103
Make sure that the email you made the commit with is configured in your GitHub account.

[2020-10-23 20:04] GordonArber commented on #103
Yeah, I did a bunch of research and saw this as a possible reason for this issue. I checked all of my emails match up. It's really weird.

[2020-10-23 20:49] GordonArber commented on #103
Ok I got it resolved. There was some sort of weird old email issue with my account. It appears I have it resolved.

[2020-10-23 20:49] #103 closed

[2020-10-25 12:59] ciro-unity commented on #48
Tempted to close this issue as I haven't seen it happen in a very long while (?)

[2020-10-25 16:52] ciro-unity opened #106 "Vote for the game title (round 1)"
Not an issue, but a way to catch your attention on Github too:
We are currently voting (round 1) for the game's title. We have shortlisted around 90 different community suggestions, and you can vote which ones you prefer using this form: https://forms.gle/FuSN79qRxfkffc6s7

The form closes on Tuesday, when we will move into the final round of voting. [More info here](https://forum.unity.com/thread

[2020-10-25 17:08] ErikBehar opened #107 "remove DeivSky.StateMachine"
**Short description**
current code doesnt compile due to DeivSky.StateMachine assembly and
existing entries in code

**Expected behaviour**
Code compiles on clean checkout from repo

**To Reproduce**
1. clone from repo
2. open project in unity
3. see compile errors

**Notes**
resolved by removing UOP1.StateMachine assembly
do a search and replace in code:
search for: DeivSky.StateMachine
replace w

[2020-10-25 17:14] ciro-unity commented on #107
Thanks, very good quick catch! I pushed the fix.

[2020-10-25 17:14] #107 closed

[2020-10-25 23:44] ciro-unity opened #108 "Baked geometry becomes black when no dynamic geometry is on screen"
**Short description**
When using the toon shader, baked geometry becomes black when no dynamic geometry is present on screen.

**To Reproduce**
1. Pull the art-assets branch ([this commit](https://github.com/UnityTechnologies/open-project-1/commit/d2067b98aa10cee14a575c5a4e73176c4afcd1da), or more recent).
2. Open the ArtShowcase scene.
3. Make sure any object is marked as static (preferrably the

[2020-10-26 03:00] MEGATANK58 commented on #48
I have done some testing this bug isn't happening anymore it was probably a problem with the mesh or character

[2020-10-26 14:36] ciro-unity commented on #48
It was most probably an issue connected with how the character controller was coded. But since we have introduced a fix for the slopes, I think it was fixed. Let's close it!

[2020-10-26 14:36] #48 closed

[2020-10-26 23:14] GFX5000i opened #111 "The state machine stops working when a state transition has many conditions"
**Short description**
When a state transition has 4 or more conditions in a specific setup the exception _ArgumentOutOfRangeException_ is thrown and the character stops moving.

**Expected behaviour**
The state transition should allow as many conditions as needed and with any setting without throwing errors.

**To Reproduce**
1. Go to _Assets/ScriptableObjects/Protagonist/Transitions/BeginJumpDesc

[2020-10-26 23:50] DeivSky commented on #111
Hey, good catch! Can I ask you to see if you can replicate it without repeating any conditions?

[2020-10-27 21:01] GFX5000i opened #115 "Walking state constantly switching to JumpDescent and back"
**Short description**
The Walking state is constantly switching to JumpDescent and back to Walking when moving the character.

**Expected behaviour**
The character should maintain the Walking state while in flat ground and small slopes.

**To Reproduce**
1. Enter Play Mode
2. Select the GameObject Pig(Clone)
3. Activate in the inspector: StateMachine > Debug [X]
4. Move the character around withou

[2020-10-28 09:29] ciro-unity commented on #115
Great catch, I saw it happening during the livestream yesterday and I was like "wtf?" :D It's great you already fixed it.

[2020-10-28 09:31] #115 closed

[2020-10-28 09:32] #111 closed

[2020-10-28 13:25] ciro-unity commented on #106
Round 1 closed! Onto the final round! https://forms.gle/oTG6Yh69eYt5sJ8v8

[2020-10-28 13:25] #106 closed

[2020-10-28 13:27] ciro-unity opened #119 "Vote for the game title: Final round"
This is it. We shortlisted 6 titles that were the ones who collected more votes in the first round, and now it's the...

[**Final round of voting!**](https://forms.gle/oTG6Yh69eYt5sJ8v8)

Cast your vote for the title you like the best. You can put up to 3 preferences.

[2020-10-28 16:26] MEGATANK58 commented on #96
Oh yes, right!

[2020-10-28 19:29] Javimtib92 opened #120 "Spawn System not spawning the player when loading scene from the LocationLoader"
**Short description**
Player doesn't get instantiated by SpawnSystem when Scene is loaded by the LocationLoader

**Expected behaviour**
When scene is loaded via the LocationLoader player should be spawned in the scene

**To Reproduce**
Steps to reproduce the behavior:
1. Go to LoadingTest/Beach Scene
2. Add the SpawnSystem and everything necessary to spawn the protagonist
3. Go to the SceneLoading

[2020-10-28 21:33] ciro-unity commented on #120
It might be a tad early, but I'll keep it open as a reminder, why not!

[2020-10-28 22:31] DracoFox8639 opened #121 "Game"

[2020-10-28 22:31] DracoFox8639 opened #122 "Games"
Github for beta and create games

[2020-10-28 22:33] #122 closed

[2020-10-28 22:33] #121 closed

[2020-10-28 23:42] GFX5000i opened #123 "Character can climb the mountain with well timed jumps"
**Short description**
Character can climb the mountain without sliding back down by landing the jump when the character is not moving (WASD keys are not being pressed)
The moment the character moves, it begins sliding.

**Expected behaviour**
The character should slide down when landing in steep slopes, even without moving.

**To Reproduce**
1. Jump towards the mountain and stop moving before touc

[2020-10-29 01:43] davejrodriguez commented on #123
Sounds like a feature 🙂

[2020-10-29 03:40] rainaldisatria opened #127 "Player input not responsive if the game is under heavy load.."
Player input become not responsive if the game is under heavy load.

**How to reproduce:**
- Directly after the game start, press the start button (going to the beach scene).
- After you are in beach scene, quickly tap any player movement input (S for ex.)
- hold it for 3s, then release. The moment you release the input, the player is still moving

**Note:**
- I'm using Unity 2020.1.6f1
- using la

[2020-10-29 03:51] rainaldisatria commented on #127
mmmmmmmmm, not reproducible after restarting Unity :joy: .
closed.

[2020-10-29 03:51] #127 closed

[2020-10-29 19:56] ciro-unity commented on #108
I already have a clue on why it happens. Will fix it as soon as I have time.

[2020-10-29 20:19] yopparai commented on #108
oops I created PR just right now

[2020-10-29 21:05] ciro-unity commented on #108
It's ok, if your fix works I'll merge yours! :)

[2020-10-30 23:37] laylayslay55 commented on #127
gg

[2020-10-31 18:12] ciro-unity commented on #48
I don't understand the perspective very well: is the player walking on it, and not sliding down?

[2020-10-31 18:42] circa94 commented on #48
Yes exactly. I wanted to jump on the wall and this is where I was landed. I was able then basically to walk in air on this edge

[2020-10-31 21:41] ciro-unity commented on #48
Ah I see. It's a wall.

Now the thing to do is: find clear reproduction steps. Can you reproduce the issue easily? Or is it like, one in a dozen intentional tries?

[2020-10-31 21:42] ciro-unity commented on #108
Fixed!

[2020-10-31 21:42] #108 closed

[2020-11-01 04:29] HemangMaan commented on #120
Sir, I would like to contribute and fix this bug.

[2020-11-01 11:06] ciro-unity commented on #120
Sorry, there's already a PR which claims to be fixing it, I just linked it: #136

[2020-11-01 11:25] #120 closed

[2020-11-01 11:42] #123 closed

[2020-11-01 14:53] circa94 commented on #48
yes i can reproduce it easily on any wall

![image](https://user-images.githubusercontent.com/6034570/97806079-1c28c380-1c5a-11eb-8de5-75049e514eaf.png)

![image](https://user-images.githubusercontent.com/6034570/97806142-6b6ef400-1c5a-11eb-983b-62b2eb47e638.png)

[2020-11-05 19:14] DeivSky opened #148 "Error when initializing StateMachine"
An exception is thrown when initializing a StateMachine.

The StateMachine should get initialized properly.

To reproduce

1. Create an empty GameObject and add a StateMachine component to it.
2. Make a chain of States and Transitions like the following (Actions and Conditions are not important):
    StateA => **TransitionA** => StateB => **TransitionA**
    StateA => **TransitionA** => StateB =>

[2020-11-08 16:29] #148 closed

[2020-11-09 22:48] GFX5000i opened #157 "Project won't compile due to a reference to UnityEditor"
**Short description**
Trying to build the project will result in failure due to the Component _Assets/Scripts/ClickToPlaceHelper.cs_ using Editor functionality.

**Expected behaviour**
Any references to the UnityEditor should be inside an Editor folder or a dedicated assembly definition.

**To Reproduce**
1. Go to File > Build Setting > Build
2. After a few seconds the build will return with a fai

[2020-11-09 23:12] #119 closed

[2020-11-09 23:13] ciro-unity commented on #119
Title has been decided, come on stream tomorrow, since we're revealing it!
https://www.youtube.com/watch?v=0lhLLnKitSI

[2020-11-10 02:56] kgc00 opened #160 "Out of date variable name causes game to not compile"
**Short description**
dialogue system which just got merged in has a reference to an old naming of a variable in the input reader class (referenced variable was updated from gameInput => GameInput about a 5-7 days ago.

**Expected behaviour**
Game should compile

**To Reproduce**
Steps to reproduce the behavior:
1. fetch and pull latest from upsteam/main
2. load project, see errors in compiler

**

[2020-11-10 03:00] #160 closed

[2020-11-10 03:50] kgc00 opened #163 "Dialogue System Event Subscriptions Not Being Removed"
**Short description**
Current PR for dialogue system subscribes / unsubscribes from events using lambdas.  This is unreliable and will cause bugs to pop up.  More reading:  https://stackoverflow.com/questions/1362204/how-to-remove-a-lambda-event-handler
multiple plays of cutscenes should see us subscribed to old playable directors and / or subscribed multiple times to the input system events.

**E

[2020-11-10 03:54] kgc00 commented on #160
realized this was due to some local changes =x

[2020-11-10 23:33] fqureshi opened #165 "Unused metafile for Sound"
**Short description**
An unused meta file for Sound made it through after we merged our new Audio System.

**Expected behaviour**
There should be no extraneous meta files that reference things that don't exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Open unity
2. Read Console warnings

[2020-11-10 23:41] fqureshi commented on #165
Hmm, looks like I don't have permissions to link this issue to the PR.

Anyways, here's the PR for the quick fix: https://github.com/UnityTechnologies/open-project-1/pull/166

[2020-11-11 01:23] antoniucraciun opened #167 "Character can climb steep surfaces"
**Short description**
Player character can climb steep surface by repeatedly pressing space and holding down direction buttons, while facing the the surface.

**Expected behaviour**
When trying to jump on steep surfaces the character should fall back down

**To Reproduce**
Steps to reproduce the behavior:
1. Open 'CharController' scene
2. Click on 'Play button'
3. Move close to a steep surface, li

[2020-11-11 17:30] ciro-unity commented on #165
Thanks @fqureshi. I'll merge the PR soon.
For these super minor bugs there's no need to open an issue, by the way!

[2020-11-11 21:13] #165 closed

[2020-11-11 21:33] DARKlylit opened #175 "Login to outlook with GitHub"
**Short description**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. This (wrong behaviour) happens.

**Notes**
- Add any other context about the problem here.
- Point to the screenshot

[2020-11-11 21:51] GordonArber opened #176 "Settings.json still shows up on GitHub Desktop even though it's ignored"
**Short description**
UOP1_Project\ProjectSettings\Packages\com.unity.probuilder\Settings.json still appears in the GitHub Desktop changes every time the project is open even though "ProjectSettings/Packages/com.unity.probuilder/Settings.json" is in the .gitignore file.

**Expected behaviour**
I expect the Settings.json file to be ignored by GitHub Desktop.

**To Reproduce**
Steps to reproduce the

[2020-11-11 22:29] ciro-unity commented on #176
I know, I think it's because in Git once a file is tracked, it will be even if it's subsequently included in the .gitignore. You need a specific Git command to make Git forget the file. I'll look into it when I have time!

[2020-11-11 22:31] #175 closed

[2020-11-11 22:33] ciro-unity commented on #48
Sorry, I had never seen this reply! My bad.

I think that's intentional though, it's because of the size of the collider. He's walking on those corners, technically... ?

Let's revisit this bug later if we keep seeing it with the new settings on the character.

[2020-11-11 22:34] ciro-unity commented on #167
Wasn't this bug fixed?
Are you using the very latest version of the game?

In any case, we won't have Terrain in the game so I think the current implementation is satisfactory, and the player cannot climb very steep surfaces.
Or maybe they can now, with the new implementation of the state machine?

I'll keep the bug open so we have an eye on it.

[2020-11-11 22:57] GordonArber commented on #176
Oh Ok.
No worries, I just wanted to make sure it was brought up. :)

[2020-11-11 23:47] antoniucraciun commented on #167
I tested it on main branch and state-machine-improvements branch and the unity version is 2019.4.11f1. I attached below 2 short recordings.

![branch_main](https://user-images.githubusercontent.com/45051549/98877012-2d5aa700-2488-11eb-9e19-990081a8bbac.gif)
First one is from 'main' branch.
![branch_state_machine_improvements](https://user-images.githubusercontent.com/45051549/98877207-9d692d00-248

[2020-11-12 08:41] ciro-unity commented on #167
Ah, thanks for the info. So it's happening more on the`state-machine-improvements` branch?

We're still working on that, so I'd hold off in "fixing" the bug, but as I said I'll keep this ticket open to remind ourselves.

[2020-11-12 10:03] rainaldisatria opened #178 "Dialogue Line not shown in custom Timeline track and also not paused at the end of the clip."
Sometimes Dialogue Line is not showed by Timeline if dialogue clip is sit side by side.
The skipped clip doesn't wait for user input even if PauseWhenClipEnds set to true.

**How to reproduce:**
1. Go to CutsceneExample scene (in Assets/Scene/Examples/)
2. Select CutsceneExample game object in hierarchy
3. In the Timeline Window, Move SecondLine next to FirstLine
4. Play
5. Boom, Second Line is no

[2020-11-12 10:41] hlethi-corsource opened #179 "Mmznfmdijvd"
**Short description**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. This (wrong behaviour) happens.

**Notes**
- Add any other context about the problem here.
- Point to the screenshot

[2020-11-12 13:14] rainaldisatria commented on #178
So, after doing simple debugging, the problem is:
If the clip sit side by side, OnBehaviourPlay is called at the end of previous clip (not at the start of that specific clip).
Since OnBehaviourPlay() is called only once, that causes the second dialogue is not called (or called but still not ready yet).

![image](https://user-images.githubusercontent.com/57592497/98943333-e7522180-2521-11eb-84c4-bd

[2020-11-12 17:51] #179 closed

[2020-11-12 17:52] ciro-unity commented on #96
Closing because it's not really an issue, we will update every now and then as needed.

[2020-11-12 17:52] #96 closed

[2020-11-12 18:31] #163 closed

[2020-11-12 18:33] ciro-unity commented on #167
Saw the issue even on `main`. I see how it is: you can climb if you spam the button, because you probably never enter the JumpDescending state, so you can't go into Sliding.

Can be probably fixed by editing the State Machine flow, so we'll do it once the State Machine is more done.

[2020-11-12 18:46] #157 closed

[2020-11-12 20:23] GFX5000i commented on #167
The problem seem to be the order of the state transitions in the **Walking** state. Since the state machine evaluates the transitions in order, **JumpAscending** is evaluated before **Sliding**.

Moving the Sliding transition to first seems to solve the issue.

For future reference to the documentation, when creating a transition table:
- The transition priority goes from top do bottom.
- Give pri

[2020-11-12 20:59] neon-age opened #182 "Systems are not isolated from the rest of the project"
Every System needs to live in it's own assembly (like StateMachine does), as we don't want to accidentally create **_dependencies hell_**.

Currently Audio system depends on AudioCueEventSO that is located in Events folder. It also depends on Factory and Pool at the same time, but they're in two different folders (when they need to be in a single assembly).

Also, when I was writing custom editor

[2020-11-13 04:49] rainaldisatria commented on #178
Bug fixed. Closing the issue.

[2020-11-13 04:49] #178 closed

[2020-11-13 10:37] treivize commented on #176
I think you refer to this command:
`git rm --cached <file>`

[2020-11-13 21:32] erizzoalbuquerque opened #187 "Wrong State while falling from a platform without jumping"
**Short description**
Protagonist's State Machine Current State goes to Sliding State when it's falling from a platform without jumping.

**Expected behavior**
It seems to me that's it's much more intuitive if the character would go to a Falling State (That doesn't exist) or at least the JumpDescending State.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a platform above ground
2. Fa

[2020-11-15 12:27] ciro-unity commented on #167
Great find, @GFX5000i!

[2020-11-15 18:06] ciro-unity commented on #182
Dependencies happen whether or not .asmdef are there. So they are not a cure.

Factory and Pool don't **need** to be in the same assembly, as @davejrodriguez pointed out in his PR for documentation #189, they are two tools and the Factory could be used independently.

I have removed the stray `ReorderableList` script, but other than that I am not 100% sure filling the project with .asmdefs is the

[2020-11-16 00:00] neon-age commented on #182
It's easier to manage the Systems like that - think of them as a Packages.
And it's not about compilation time benefit, it's for good project organisation and reusability.

Here's some current problems I've encountered:
- When coding, IDE shows me all the project scripts that has nothing to do with the system I'm working on, and I can accidentally add some unwanted dependency just from auto namesp

[2020-11-16 17:05] DeivSky commented on #187
This can be fixed by adding a transition from `Sliding` to `JumpDescending` if `IsGrounded` is false.

[2020-11-16 22:09] ciro-unity commented on #187
A cute little bug :)
I'll leave it open in case somebody new to the project wants to fix it. It's a good first contribution, nice to get used to the state machine.

[2020-11-16 22:13] ciro-unity commented on #176
Thanks @treivize. Should be fixed on `main` now. Let me know if you see it again, otherwise I'll close it in a couple of days.

[2020-11-17 00:16] ciro-unity opened #193 "State Machine flickers to Sliding if character walks into small objects"
**Short description**
State Machine flickers to Sliding if character walks into a small object.

**Expected behaviour**
The character should stay in the Walking state.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a testing scene, press Play
2. Walk to an object with a small collider (like the vase), or a very small step.
3. Keep pressing the direction towards the object.
4. Observe t

[2020-11-17 01:59] GordonArber commented on #176
This seems like it's working on my end.

[2020-11-18 01:06] davejrodriguez opened #196 "[Wiki] Modified Object-Pooling.md"
- Removed IPoolable references from diagram and code examples.
- Renamed MyPoolableComponent to MyComponent in example code to reflect that any component (really any object) can now be pooled.

https://hastebin.com/ufiriqogiq.md

[2020-11-18 08:46] ciro-unity commented on #196
Thanks! I've put it in!
https://github.com/UnityTechnologies/open-project-1/wiki/Object-Pooling

The only changes I made is that I removed the link to the ToC inside the ToC, and added a link to the Factory page where we mention factories.

[2020-11-18 08:46] #196 closed

[2020-11-18 08:47] ciro-unity commented on #176
Perfect, thanks for checking @GordonArber!
I'll close it then.

[2020-11-18 08:47] #176 closed

[2020-11-18 13:03] mtakac opened #197 "Unable to set player's spawn location"
**Short description**
`SpawnSystem` ignores changes in spawn location.

**Expected behaviour**
First of all, my apologies if I am just missing something. However based on a brief scan of the source code, I would expect, that if I change the position of `SpawnSystem` location, the player will spawn at this new position.

This is not the case. The player always spawns at the default (0, 0, 0) positi

[2020-11-18 13:07] mtakac commented on #197
It seems like the issue is caused by animations. If I disable `Animator` component on the `PigChef` prefab the `SpawnSystem` spawns player at the correct position.

[2020-11-18 13:15] mtakac commented on #197
One more observation: it seems like enabling the **Apply Root Motion** option in `Animator` component panel on `PigChef` prefab fixed the issue and didn't break the animations. I am not really sure why or if this a good fix. Let me know, I am happy to open a PR if this solution is good enough.

[2020-11-18 17:29] ciro-unity commented on #197
Sounds like an interesting thing that we definitely need to fix, but also understand why it happens and how can we prevent it.
I know that some animation clips have keyframes on position and rotation for the root, which generally I'd like to avoid.

Also a little heads-up. There's a setting in the Animator which can feel quite mystical :D called "Write Defaults". [A short explanation](https://foru

[2020-11-18 19:04] mtakac commented on #197
Thanks for the explanation @ciro-unity. I didn't know about **Write Defaults** option. Sounds like it could come handy to be aware of it.

However I don't think this is related to this exact issue. If I understood correctly, **Write Defaults** option is relevant when destroying and the re-instantiating animated object, but that doesn't seem to be the case here. Also I verified that toggling it on

[2020-11-18 19:26] mtakac commented on #187
Thank you for leaving it open: It was the best first issue ever! :D

I did play around with the state machine so I created a PR that fixes this issue: #199

The diff is a bit cryptic, but I hope it's okay. Please do let me know if there's some better way to do it.

[2020-11-18 20:20] mtakac commented on #193
At first I thought we could add some condition to the `IsSlidingConditionSO` that would prevent the player entering the sliding state if the collider of the body he collided with is less than certain height.

But after more testing, I think this might actually be connected to #167. The problem is that the Pottery object has a sphere collider and you're "climbing" and sliding from this sphere. What

[2020-11-19 01:40] #187 closed

[2020-11-19 01:51] ciro-unity commented on #193
Ah, if it's a matter of collider, it might be even better to assign it a different one (for instance a Capsule?). Again, no huge deal for now, but let's keep an eye on this one.

[2020-11-19 06:53] mtakac commented on #193
The problem from my previous comment seems to be fixed now. After I pulled a new version today, I can no longer reproduce it. I am not sure what fixed it, but now, if the pottery is larger it just blocks the player's movement and he's not able to walk over it, nor is there any flickering between walking and sliding states.

Regarding the original issue: yes, changing the collider would solve it, a

[2020-11-19 19:45] Wodopo commented on #197
While checking **Apply Root Motion** allows the character to spawn at the desired location and walk around it's not without problems.

Changing settings on the Animator controller while playing, and with the **Apply Root Motion** off gets the desired behaviour, but entering Play Mode with the same settings gets a different, undesired, behaviour.

A video to demonstrate: [https://youtu.be/DDoaKjf54

[2020-11-20 21:43] jandd661 commented on #197
Greetings, I'm new to the project. After looking things over I noticed the animation(s) "keyframe" the position of the character. Removing the position keyframes from the animations (_by duplicating then removing position attribute, then retargeting the animator_) has resolved this issue in my testing.

[2020-11-21 22:55] ciro-unity opened #206 "Objects are black when the scene lighting is not baked"
**Short description**
All objects (both dynamic and static) are black when dragged into a new scene.

**Expected behaviour**
Object should "work" automatically when dragged into a new scene.

**To Reproduce**
1. Create a new scene.
2. Drag any object from the `/Prefabs` folder (e.g. a character).
3. Observe that the object is black.

**Notes**
- Generating lighting, even if not the Baked GI, fixes

[2020-11-22 01:45] ciro-unity commented on #197
Thanks everyone for chiming in. I have asked the 3d modeler to remove the keys from the model's root, she provided me with new models which will soon be integrated on `main` and `art-assets`, which should fix this issue.

[2020-11-22 17:07] Tatranskymedved commented on #206
I've just downloaded fresh repo, on Main branch I cannot reproduce this behaviour.

![image](https://user-images.githubusercontent.com/2912979/99910321-909cd280-2ced-11eb-9018-5cace8842715.png)

[2020-11-22 21:27] Tatranskymedved commented on #206
I'm not that experienced in Unity so I'm trying my best by test-failure errors, I'm warning that my founding might not be clear/make sense :wink: :

For dynamic objects: we're using Skinned Mesh Renderer which doesn't support lightmap (they will be always dark without direct light?) - https://forum.unity.com/threads/problem-with-skinned-mesh-renderer.366293/

However I've played around with static

[2020-11-22 22:38] ciro-unity commented on #206
Hey @Tatranskymedved! Welcome to the project :)
Have you followed the exact steps?

For clarification, when I say dynamic objects I mean not static. But they don't need to be `SkinnedMeshRenderer`s. Both `SkinnedMeshRenderer` and `MeshRenderer` create the issue.

[2020-11-23 16:01] MikailY commented on #50
Can't we use cinemachine collider extension to prevent this behaviour?

[2020-11-23 16:57] MikailY commented on #50
I am excited to see how its done with shaders. Thank you for the quick answer btw.

[2020-11-24 08:19] ciro-unity commented on #50
You don't want to try and implement it yourself? [If you watch this tutorial](https://www.youtube.com/watch?v=szsWx9IQVDI), it's basically the same thing. You can avoid making the dither shader even, just create a flat colour unlit one. We can tweak it later.

[2020-11-24 11:58] MikailY commented on #50
I watched the tutorial and I wanna try it if it is okay. I already forked the project. Should I create a new branch and start working on it or go to the forums and discuss about it?

[2020-11-25 08:19] rainaldisatria opened #216 "Jumping throw an exception"
**Short description**
Can't jump after new scene is loaded.

**Expected behaviour**
Able to jump without throwing an exception.

https://youtu.be/vviXsrRVSEY

**To Reproduce**
1. Go to MainMenu scene
2. Click on Start button
3. Press SpaceBar (jump button)
4. This exception "MissingReferenceException: The object of type 'SoundEmitter' has been destroyed but you are still trying to access it."  hap

[2020-11-25 15:30] ErikBehar commented on #197
this issue can be closed now

[2020-11-25 15:50] Matcheryt commented on #216
I reproduced it on my machine, and by asking unity to not destroy the SoundEmitterPool on load, seems to fix the issue.
I'm new to the project and would like to continue with the fix. I'm not very experienced with Unity, if someone has a better approach on this let me know!

[2020-11-25 15:59] ErikBehar commented on #216
yes the issue is that the pool gets created in the Active Scene, when the active scene is destroyed, the pool goes with it.

There is clearly a line already in the code that is commented :
ComponentPoolSO: ( line 24 )  			//DontDestroyOnLoad(_poolRootObject);

The problem here is that this is a generic system, so I think some pools we do want to destroy and some pools we don't ...
One solution mig

[2020-11-25 16:07] rainaldisatria commented on #216
A good first issue.
Yeah, since it's generic, we want to have control of both approach (Destroyed after scene loaded, or the opposite).
My proposition is to add boolean property to ComponentPoolSO called Global or something like that. Then in the SoundEmitterPoolSO, we set the Global = true (Not destroyed after scene loading) in the OnEnable() method

[2020-11-25 16:11] Tatranskymedved commented on #206
Hi @ciro-unity , I've added PR, once you have little time, could You please review it & confirm if we want to do it this way and if we want light on all objects or just the static/with Baked GI? Thanks!

[2020-11-25 16:13] davejrodriguez commented on #216
Hah I actually was just working on this. I'm not super familiar with this issue, but if it's caused by DDOL, it should be fixed once #215 is merged.

[2020-11-25 17:37] ErikBehar commented on #216
so in your solution the parent is always assumed to be the object the script is on ? Do you prefer to surface the transform as a user facing variable instead?

[2020-11-25 18:57] davejrodriguez commented on #216
No assumptions. I think it's _easiest_ in a manager architecture to just use the manager's transform, but there is no preference as far as the pool is concerned. As for changing the targeted transform for parenting in the editor, yes, I would expose a field for the script in the inspector and use that instead.

[2020-11-26 23:21] ciro-unity commented on #24
We can finally close this issue! Thanks to @shuttle127 in PR #220, we have a shading pass which draws characters when occluded by the scenery 🎉
Thanks for the discussion everyone!

[2020-11-26 23:21] #24 closed

[2020-11-27 12:07] ciro-unity commented on #50
It would be nice if you open a new thread for maybe all camera-related things? And link the issue here. So other people can be aware and follow the process.

I also have some thoughts about this... :D

[2020-11-27 12:08] ciro-unity commented on #197
Thanks! And yes, we implemented the fix as described by @jandd661

[2020-11-27 12:08] #197 closed

[2020-11-28 08:12] jandd661 opened #228 "Player can get stuck in geometry/holes"
If there is a "hole" or uneven surface, the player can get stuck. This is because the state machine enters a Sliding state and that state does not have a transition to JumpAscending.

**Expected behaviour**
The player should be able to jump while sliding.

**To Reproduce**
Steps to reproduce the behavior:
1. Find a hole and get in it. See picture.

![Unity_HEC6yC7Of6](https://user-images.githubuse

[2020-11-28 08:13] jandd661 commented on #228
PR for fix: #227

[2020-11-28 10:23] ciro-unity commented on #228
I am aware of that spot in the map which makes the player stuck, and yes, this technically fixes it.
But it also kind of defeats the purpose of sliding? In the beginning of the project we created the sliding state as a way to prevent the player from walking up very steep geometry, but if they can jump while sliding now they can jump upstream (like a salmon :D).

So I'm reluctant to "fix" this. May

[2020-11-28 12:45] gabagpereira opened #229 "Location Loader issue"
**Short description**
I have spotted an issue with the Location Loader where, at some point, an error will cause two locations to be stacked, which results in critical bugs, like having two instances of the Player at the same time.

**Expected behaviour**
New scenes/locations must be able to load seamlessly, without causing errors. Therefore, previous scenes must be unloaded first.

**To Reproduce

[2020-11-28 15:20] jandd661 commented on #228
@ciro-unity I agree. This "fix" does not prevent the player from jumping up steep slopes (salmoning :D). Which currently allowed anyways. As that seems to be an unwanted behaviour than this fix is probably not ideal then.

Currently, _"IsSliding"_ is based only on the Angle of the normal underneath the player which would infer that the character controller is "sliding" the character (and it is) bu

[2020-11-28 16:43] ciro-unity commented on #216
Should be fixed by the changes that @davejrodriguez did to the Object Pool. I'll verify later and close it, if necessary.
Thanks @rainaldisatria for reporting it!

[2020-11-28 16:56] ErikBehar commented on #216
ok you added the setParent line yourself @ciro-unity so yes feel free to close this.

[2020-11-28 17:34] jandd661 commented on #228
OK, so I updated the PR #227 with a proposed fix for this _"issue."_ It adds IsActuallyMovingSO and an updated PigChef Transition Table. My testing has been very successful. I must say I really like this State Machine.

**IsActuallyMovingSO** evaluates character movement by the character `controller's velosity.sqrMagnitude`. Returns true if the character controller is moving beyond the threshold.

[2020-11-28 17:50] ErikBehar commented on #229
So this is happening because the two exit locations ( forest to beach & beach to forest) happen to be on top of each other. If you move one of the two so that its not overlapping then you wont have this issue.

The loading order is random, since we do both load and unload Asynch.

So this is likely to trigger in the case where the new scene loads before the older scene is unloaded, thus the old pi

[2020-11-28 18:07] ErikBehar commented on #229
tested option D) 👍
add
 to line 19 of LocationExit :  && other.gameObject.scene == SceneManager.GetActiveScene()

seems to work fine

[2020-11-28 19:39] gabagpereira commented on #229
Good point, that didn't occur to me at all!

I agree with option D, but I have one more defensive solution to add:
e) Since this is open world and every location is "connected", why not position them as they should appear in relation to each other, as if they were pieces of a bigger world map?
What I mean is, for instance: if the world map has two locations, both 10 units wide, and the Beach locat

[2020-11-28 19:46] ErikBehar commented on #229
You might run into issues trying to position a scene, because it might not actually match real world sizes to each other, and which exit entrance combo should the pivot be on.

Overall it might be more helpful to separate them in a grid instead ?

[2020-11-28 20:02] gabagpereira commented on #229
Yes, that's sort of what I'm suggesting. It's basically like each scene is a piece of a grid.
One scene's pivot should match the direction the previous scene exit leads to. It's just like you were building it all in one Master Scene and then slicing each location to pieces (scenes), very similar to what [this tutorial](https://youtu.be/zObWVOv1GlE) describes.

[2020-11-28 21:01] jandd661 commented on #229
The scenes where being loaded additively. Unless there is a plan to do some fancy level phasing, the scenes should be loaded `LoadSceneMode.Single` am I missing something? Anyway, I have a PR #231  for a proposed fix.

Video: https://youtu.be/9rZnrfmYvfw

[2020-11-28 21:38] gabagpereira commented on #229
Scenes need to be loaded additively, because the game starts with an Initialization scene that must be persistent. That scene is responsible for displaying the loading screen interface between loads, managing audio, and possibly carry Player Data, along with other background operations.

It's true that each scene in the project has a reference to the Initialization scene and automatically loads it

[2020-11-28 21:40] ErikBehar commented on #229
Also we are sending an array of scenes ( meaning you could load several scenes if required)

[2020-11-28 21:44] jandd661 commented on #187
When working on issue #228 I notice this still occurs. The problem is the player can "hang" off the edge to where `IsSliding = true` and `IsGrounded = true` circumventing this fix.

`IsSliding `is only a check of the angle from `lastHit` location on the character's collider and the normal of the geometry that hit it. Because the bottom of the capsule collider is round, you can put yourself in a si

[2020-11-28 21:51] jandd661 opened #232 "Wrong State while falling from a platform without jumping"
Originally reported as issue #187
Card: https://open.codecks.io/unity-open-project-1/decks/undefined-/card/18g-wrong-state-while-dropping-from-a-platform

When working on issue #228 I notice this still occurs. The problem is the player can "hang" off the edge to where `IsSliding = true` and `IsGrounded = true` circumventing the original fix.

`IsSliding `is only a check of the angle from `lastHit`

[2020-11-28 22:16] jandd661 commented on #229
Ah, I see. Nothing is ever easy is it :D Ok, I closed the PR #231 and will take another look with that info in mind. Thanks.

[2020-11-29 00:07] Allstreamer opened #234 "[Enhancement] Localization Support for UI"
There needs to be localization Support for UI Text so interfaces and later options can be translated!

[2020-11-29 03:26] jandd661 commented on #229
OK, I got it worked out. It now works as you guys said it should work. I also left some TODOs for expansion that I can come back to if needed. Pretty handy little scene loader. Still have lots to do though =)

Video: https://youtu.be/VQWs_yalU6o

[2020-11-29 08:46] ErikBehar commented on #229
I think these are good changes, albeit :
1) does not properly support loading multiple scenes (of course can be added in future)
2) should still do the check I suggested on the exit, since the issue is still happening, just being prevented from surfacing symptoms (but could have other side effects in the future) ... I've taken the liberty of implementing both A) & D) suggested solutions above, to

[2020-11-29 09:28] jandd661 commented on #229
@ErikBehar Good deal. Please explain "_does not properly support loading multiple scenes"_ so I know what the intent is. I get the ability to layer scenes for phasing and such but it seems to be a very convoluted way of doing this just to persist data. Thanks.

[2020-11-29 12:03] gabagpereira commented on #229
I agree with the changes too, but also think that @ErikBehar suggestion on adding a check method is essential to avoid issues. It's always safer to double-check when we are working with operations that handle a lot of instances at the same time.

PS: As far as I've checked, @jandd661 changes do support loading multiple scenes; that's the whole point of the video posted. Are you missing something @

[2020-11-29 12:19] gabagpereira commented on #229
@ErikBehar As for destroying the player, I wonder if it wouldn't be more reliable to do it in the Spawn method itself. Something like:

`IEnumerator Spawn(int spawnIndex)`
`{`
`var player = GameObject.FindGameObjectWithTag("Player");`
`if (player != null) Destroy(player);`
`yield return new WaitUntil(() => SceneManager.GetActiveScene() == gameObject.scene);`
`// Spawn code`
`// ...`
`}`

[2020-11-29 16:40] ErikBehar commented on #229
I think we want to destroy the old pig as early as possible, so on the exit script is the earliest... if you wait to the spawn, you might run into the same issues we are trying to prevent.

I do think adding the wait for the new pig might be good idea, although I think it would be best to wait for all new loading scenes to be done loading instead of just the active scene.

[2020-11-29 16:56] ErikBehar commented on #229
Sorry, didnt look at the video, I only looked at the code changes, and I was looking at "SetActiveScene" function and wasn't completely sold on it working well when I read the code before. I see that its always setting active_scene now. I guess this is fine with the current assumption that the active scene should always be the first one.

[2020-11-29 18:18] gabagpereira commented on #229
Seems acceptable to me.

Maybe moving `_scenesToLoadAsyncOperations[0].completed += SetActiveScene` to the end of the _TrackLoadingProgress_ coroutine will get the job done. That way, the first scene will only become active after all the others finish loading.
Of course, we'll add this inside the else statement in _LoadScenes_ too, or create a method called _OnLoadingFinished_ to do both the activ

[2020-11-29 21:49] ciro-unity commented on #234
Yes, we will have localisation in the project, we talked about it in [livestream #3](https://youtu.be/0lhLLnKitSI?t=3939). We'll enable it on the UI when we have a proper UI.

Closing this one since it's not really an issue.

[2020-11-29 21:49] #234 closed

[2020-11-30 17:56] davejrodriguez opened #242 "[Object Pool] HasBeenPrewarmed is not reset in between play sessions"
**Short description**
`PoolSO.HasBeenPrewarmed` is a boolean that prevents a pool from being prewarmed multiple times over its lifetime. It switches to true once `PoolSO.Prewarm()` is called. However, `PoolSO.HasBeenPrewarmed` remains true even after you exit play, so when Prewarm is called in a subsequent play session, the pool is prevented prewarming.

**Expected behaviour**
`PoolSO.HasBeenPrewa

[2020-12-01 13:26] ciro-unity opened #245 "Mouse pointer erratic behaviour"
**Short description**
Sometimes, the camera spins very fast when using the mouse to control the camera, even if the mouse is moved by a tiny fraction.

**Expected behaviour**
The camera should follow the speed of movement of the mouse.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the scene "TestingGround"
2. Press Play
3. Once the game is in Play Mode, hold down the RMB and move the

[2020-12-01 13:46] ciro-unity commented on #242
Ah! That's why! I was going nuts trying to understand why it was verified as `true`, it makes sense... it's part of the SO! 🤦🏻

[2020-12-01 14:26] davejrodriguez commented on #242
Yeah, my bad. That was an oversight when I added the check. The fact that playmode changes persist on SO assets is a bit of a double-edged sword 😄

[2020-12-01 22:06] daneobyrd opened #246 "Unused Shader properties in main subgraph & Albedo shades specular light"
This Issue was creating after I submitted a pull request (not merged at time of writing).
Here I quote my explanations listed in my [PR](https://github.com/UnityTechnologies/open-project-1/pull/240).

### **2) Albedo output prevents dark surfaces from having receiving bright specular light.**

The issue is first raised [here](https://forum.unity.com/threads/toon-shader.980874/#post-6571858) by @tr

[2020-12-02 07:46] kgc00 commented on #245
hi @ciro-unity , i just saw this- we could just have mouse movement without RMB to sidestep this.  sound good?  I'm also down to debug if you'd like.

[2020-12-02 08:53] adoart commented on #245
It looks like it depends where the click starts, the further from the center bigger the rotation, @ciro-unity clicked once close to the center and rotation was little. That's what I got from the video...

[2020-12-02 14:26] khush2o2o commented on #245
I known this bus to how to solve...

[2020-12-02 17:09] drbier1729 commented on #245
Just tried to check this out but I'm unable to replicate the issue.

I'm guessing that maybe the InputReader or InputSystem isn't updating the cursor's position when it jumps to the center when the cursor is locked (in CameraManager.cs). This causes the mouse delta on the first frame when the mouse is moved after enabling camera controls to be crazy high since it is calculating the difference betw

[2020-12-02 17:41] ErikBehar commented on #245
Please provide the idea in writing or a link to the PR, stating that you know how to solve a bug with no further info is not useful to anybody.

[2020-12-02 18:02] solfrak opened #248 "Shadow passes through objects"
![Capture](https://user-images.githubusercontent.com/60186753/100912581-a4d79100-349e-11eb-8161-c872ab4940f6.PNG)
**Short description**
The shadow from the character or object passes through objects

**Expected behaviour**
The shadow should stop when hitting a platform or something else

**To Reproduce**
Steps to reproduce the behavior:
1. Put any object that isn't calculated in the lightmap
2. Ho

[2020-12-02 20:15] ErikBehar commented on #245
ok so I think @drbier1729 has it correct ... you can more easily replicate the issue, by popping out the game window, then click outside so the window looses focus and then click back into the window to get focus, then rm on the edge of the window. You will get the crazy spin and yeah I think its due to the initial difference.

with the above steps you can replicate the issue many times within 1 p

[2020-12-02 22:07] davejrodriguez commented on #245
Could someone who was able to reproduce the bug test #249?

[2020-12-02 22:23] drbier1729 commented on #245
@ErikBehar Cool! Thanks for finding a better way to replicate it. And I was thinking the same thing for a potential workaround, but there was no way for me to test it earlier today haha.

@davejrodriguez I'll check out your work tomorrow morning if I can recreate the bug using the steps ErikBehar suggested.

[2020-12-03 01:42] ErikBehar commented on #245
I think some of what @davejrodriguez  did is probably good, but needs a bit more work ... I've added the simple fix mentioned above meanwhile.

[2020-12-03 07:33] #242 closed

[2020-12-04 15:53] ciro-unity commented on #248
Hey @solfrak, thanks for the detailed report :)

The issue is hard to fix, read this thread on a bit of discussion about it: https://forum.unity.com/threads/character-shadow.1013500/

So we might not fix it at all... we'll see!

[2020-12-05 19:33] #245 closed

[2020-12-05 22:27] #228 closed

[2020-12-05 22:27] #232 closed

[2020-12-05 23:41] #246 closed

[2020-12-06 19:07] #229 closed

[2020-12-06 19:09] ciro-unity commented on #229
Thanks everyone, the issue is fixed... for now!
We need to do some more work on the scene loading, specifically to support multiple entrances/exits from locations. I'll talk about it during the stream on Tuesday, and I'll create a task card for it!

[2020-12-08 03:06] #216 closed

[2020-12-08 03:35] rainaldisatria opened #257 "LocationSO not serialized properly"
**Short description**
LocationSO doesn't serialize some of it fields.

**Expected behaviour**
LocationSO should serialize all of it fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ScriptablesObjects/SceneData/Locations
2. Click on any of LocationSO. Let say Beach.
3. Add Music reference to the selected LSO.
4. Deselect the selected LSO.
5. LSO is not serialized. Music is from t

[2020-12-08 09:52] ciro-unity commented on #257
Nice find! Not super urgent to fix, but it can be a nice first task for somebody!

[2020-12-08 09:53] ciro-unity commented on #257
LOL ok nevermind, I didn't see you already put the fix in a PR :)
So fast :)

[2020-12-09 16:10] ozguzMete opened #262 "State Machine, character freezes"
**Short description**
Character sticks at Sliding state on state-machine-improvements branch
Character seems/feels stuck/unresponsive (player perspective) on main branch (you can jump if you are on Sliding but pressing arrows does nothing, you can move but you can't jump on Idle)

**Expected behavior**
Character should be feel more responsive even it sticks (it can change its direction even it can

[2020-12-10 06:35] Satvik-Verma commented on #50
I'd like to work on this issue. If nobody's on it could you assign me please? I'm new to using GitHub so I've studied the basics on how to clone and how to use git.

[2020-12-10 23:07] rainaldisatria commented on #262
One more related issues: https://github.com/UnityTechnologies/open-project-1/issues/228

[2020-12-12 20:37] #257 closed

[2020-12-12 20:47] ciro-unity commented on #262
Hi Mete, welcome to the project!

I had noticed this issue too. It's not related to sliding, I think, and doesn't require going up the rock. I will remove the references to that because otherwise it makes it look like old bugs which we have fixed already.

I will update the description with more precise reproduction steps.

[2020-12-12 20:53] ciro-unity commented on #50
Anyone interested in fixing this? I think we can use the Cinemachine Collider now, but we don't need to care about occlusion because we have the silhouette pass for the character.

[2020-12-12 23:43] rainaldisatria commented on #262
@ciro-unity
Do restarting Unity solve the issue?
I had reported similar problem to this before: https://github.com/UnityTechnologies/open-project-1/issues/127
It somehow occur if you open the project for too long haha

and I think what ozgusMete meant in this issue is:
even when the player is stuck, player should be able to change its direction by user input.
Is that correct? @ozguzMete

[2020-12-13 00:58] Sebastiran commented on #262
I have the exact same issue with another game I'm working on currently. Still haven't found the cause though. I wonder if this bug persists in a build or if it is something happening only in the editor. Might be worth to check out to get some more information about the cause.

[2020-12-13 13:27] SundarakrishnanN commented on #50
Hey, long ago I had fixed the camera occlusion by the cinemachine collider, So I guess that solved this issue also,Is that ok? If required I shall redo that in the updated project version...Please do let me know...

[2020-12-14 18:51] ErikBehar commented on #262
might possibly have to do with loosing focus and input not updating ... for example hold down the down arrow and then use your mouse to click outside the game window (so you loose focus), then click back into the game window, you will notice that even though the key is down the player doesnt move down, you can press left or right arrow and they will work but not the down key you still have pressed

[2020-12-17 14:58] davejrodriguez opened #270 "Build Fail Due To SceneAccessTool and SceneAccessHolderSO Errors"
**Short description**
Building a player fails with errors caused by SceneAccessTool and SceneAccessHolderSO.

**Expected behaviour**
I'd expect this editor tool to be put in an `Editor` folder so it does not get included with the build and cause errors when it can't find its UnityEditor types :)

**To Reproduce**
Steps to reproduce the behavior:
1. Try to build player.
2. Frown when it fails due t

[2020-12-17 15:06] davejrodriguez opened #271 "SceneAccessTool: Scene file not found"
**Short description**
When using the SceneAccessTool, I get an ArgumentException: Scene file not found. The path it thinks the scene is at looks to be an absolute path to the scene _on someone else's computer_. So it seems the path is being cached in the SceneAccessHolderSO and needs to be refreshed so other developers will get the correct path on their machines.

**Expected behaviour**
I'd expect

[2020-12-18 12:29] ThomasChen1220 commented on #271
in this thread: https://forum.unity.com/threads/editor-window-to-open-scenes.1019986/#post-6633193
dotsquid mentioned a solution for this by using EditorPrefs.
Right now I'm not sure whos version of the tool will be used in the game. I'll wait until the PR regarding GameSceneSO is sorted out to see what to do about this.

[2020-12-18 17:04] ciro-unity commented on #262
Hmm, I don't think a loss of (real) focus of the window is the cause. First because the window doesn't change colour, and second because it regains it automatically after a few seconds.

**However**, I have to say that in my recent tests I haven't seen this issue anymore, which before would happen **every single time** (?) But at the same time, nothing really changed in the input configuration, we

[2020-12-18 17:09] ciro-unity commented on #271
Thanks for the thorough testing, @davejrodriguez !

[2020-12-19 00:08] ciro-unity commented on #50
[The PR you made](https://github.com/UnityTechnologies/open-project-1/pull/72) was a long time ago and many things changed since then, sorry for that! The scene doesn't even exist anymore.

In the end I solved the issue myself by using the collider too, but not by forcing the character into the view at all times, but rather only when the camera enters the ground. Which also kind of solves the issu

[2020-12-19 00:08] #50 closed

[2020-12-22 00:58] Sebastiran commented on #262
It seems that the source and length of this bug are different for many people and that it also got solved in many different unexplained ways. Updating the input system and reloading the editor for example. Hopefully, it stays gone and doesn't come back.
https://forum.unity.com/threads/input-system-freezes-and-stops-registering-input.882754/

[2020-12-22 14:57] KARTIK14111997 opened #278 "Shalu is a fantastic girl for me"
**Short description**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. This (wrong behaviour) happens.

**Notes**
- Add any other context about the problem here.
- Point to the screenshot

[2020-12-22 15:10] #278 closed

[2020-12-24 01:57] davejrodriguez opened #279 "Camera clips tree crowns"
**Short description**
Even with the camera collider Cinemachine extension, the camera clips certain objects, notably trees.

**Expected behaviour**
I'd expect the camera to avoid clipping into the tree crowns OR gracefully fade objects out as the object approaches the camera's near clip plane. Since we're already using the camera collider extension, it might just be best (and easiest) to add spher

[2020-12-24 02:15] davejrodriguez opened #280 "Permanent loss of input control and null refs after interacting with a dialogue target"
**Short description**
In NewInteractionExample and InteractionExample, interacting (E on keyboard) with the Bard Hare disables controls and throws NullReferenceExceptions in the InputReader when triggering the Dialogues/MoveSelection action.

**Expected behaviour**
I imagine movement controls are supposed to be disabled. However, no dialogue is presented, so there is no avenue for returning to an

[2020-12-24 02:21] davejrodriguez commented on #280
I've found that this behavior and the corresponding errors happens in any scene with an interaction. The interactions in CutsceneExample, to its credit, returns control after the cutscene has finished.

[2020-12-26 11:08] rainaldisatria commented on #280
Loss of input control should be fixed after this PR is merged: https://github.com/UnityTechnologies/open-project-1/pull/195
It happen when trying to call empty UnityAction

[2021-01-02 12:13] Bvanderwolf opened #288 "Total Progress in LocationLoader.TrackLoadingProgress is assigned wrong value"
**Short description**
Total progress isn't assigned the value of it being divided by load operations.Length. Now it will exit the while loop to early with multiple loading operations because the progress of each operation is added but total progress is never divided by load operations.length.

**Notes**
https://github.com/UnityTechnologies/open-project-1/blob/72e45ba5b0c0425c8ffdef24f85b6257459425

[2021-01-04 14:25] ciro-unity commented on #262
I am also not seeing it anymore! Scary though that a bug can appear and disappear like this 😅

[2021-01-04 15:57] Bvanderwolf opened #289 "PoolSO spams console with prewarm warning"
**Short description**
After entering playmode after starting Unity, The PoolSO script warns you each time on awake that the "Pool SoundEmitterPool has already been prewarmed".

**Expected behaviour**
The scriptable object should reset its state using the OnDisable function making sure this warning only occurs when necessary.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter PlayMode with

[2021-01-04 20:17] davejrodriguez commented on #289
Hey, are you sure you've pulled the latest changes from main? I believe this was fixed in #243

[2021-01-05 08:04] Bvanderwolf commented on #289
Shoot, you are right!

[2021-01-05 08:05] #289 closed

[2021-01-06 11:17] amel-unity commented on #270
Thanks for testing @davejrodriguez ! The PR from @ThomasChen1220 fixes the issue, I will merge it now

[2021-01-06 11:19] #270 closed

[2021-01-07 13:30] i1qwert opened #293 "Weird sliding effect on Mesh/Sphere Collider"
**Short description**
Weird buggy sliding effect when jumping on surfaces with Mesh/Sphere collider on them.

**Expected behaviour**
A regular fall and nothing much.

**To Reproduce**
Steps to reproduce the behavior:
1. Open TestingGround scene, play it
2. Go to any of central rocks
3. Jump on them while pressing W
4. Release jump key and just move left/right/forward

**Notes**
On central rocks:

[2021-01-07 15:45] ciro-unity commented on #293
Oh no, more climbing bugs :D
Thanks for reporting it. For now I consider it minor as it doesn't disrupt the gameplay.

[2021-01-07 16:26] DeivSky opened #295 "StateMachine Wiki"
Long-awaited, [here's the documentation of the StateMachine](https://github.com/DeivSky/open-project-1/blob/state-machine-docs/UOP1_Project/Assets/Scripts/StateMachine/documentation.md).

Any suggestions are welcomed.

[2021-01-07 16:39] treivize commented on #295
Hi DeivSky,

thanks for this first detailed documentation on the state machine 👍

Here is my suggestions following the latest comment from the forum:
- Add actions association to the state from the transition table
- Add actions from State SO inspection instead from the table. It is especially useful for states only defined as a dead end (they are not listed in the table so it is not possible to a

[2021-01-07 17:06] DeivSky commented on #295
Hey, @treivize!
Don't thank me, it was long overdue 😄.

Yes, I saw those points on the forums. I'll be making a few changes based on them soon.
I meant suggestions about the documentation, though, as that's the only purpose of this issue.

[2021-01-07 17:23] treivize commented on #295
Oh, but I was not asking for code improvements here, maybe I miss it in the current documentation, but I am not sure it is explained how to associate actions to a state. It was just my suggestion for the documentation (explain how to do it from the table or from the state SO)

[2021-01-07 18:05] DeivSky commented on #295
Oh, my bad! You're right, I'll be adding those comments to the docs. I will still be making changes because I don't like not being able to access a dead-end state from the transition table.

[2021-01-08 09:22] ciro-unity commented on #295
Hey, that's great!
I made some suggestions, implemented them by doing a PR to your fork. When you're ready you tell me and I'll put it in the wiki.

It's also ok if it's not 100% finished, I'd rather have it sooner, it could be helpful to somebody exploring the project these very days. We can obviously add to it later, but it's pretty good as it is already.

[2021-01-08 09:40] #279 closed

[2021-01-08 16:17] Eyap53 commented on #295
Just took a look, and try to implement it without looking at the code : It worked perfectly first try, well done !

You may add an end note that the MonoBehaviour needed to make it work on a gameObject is called `StateMachine` (but I agree that it's not hard to find :) )

[2021-01-08 23:09] DeivSky commented on #295
I've merged your changes and made a couple more based on the suggestions here. I'd say it's ready for publishing! If anything, as you say, we can edit it later 😉

[2021-01-10 16:00] ciro-unity commented on #295
Perfect. Thanks!
I implemented it here: https://github.com/UnityTechnologies/open-project-1/wiki/State-Machine

I guess I can close the issue? Can you reopen it yourself? (I'm thinking in case we want to "recycle" it for changes on the docs)

[2021-01-10 19:44] ciro-unity opened #297 "Input is cached when not immediately consumed by a State"
**Short description**
Input is cached when not immediately consumed by a State in the state machine, and then used when the next state "interested" in that input is reached.

**Expected behaviour**
The input should simply be ignored, if not related to the state the machine is currently in.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a gameplay scene, press Play.
2. Jump and while in

[2021-01-11 01:30] ciro-unity commented on #297
This also happens when attacking, and pressing the Attack input while the first attack is still happening.

[2021-01-11 10:26] treivize commented on #297
Finally, I have the feeling that there are not lots of input which will create a problematic behavior, so what about consuming quickly the input in Protagonist script after activation like this?

![image](https://user-images.githubusercontent.com/42570903/104169394-cada4480-53ff-11eb-9f41-96a839896f19.png)

It is a bit hacky but it seems good enough for the problem we want to solve the problem her

[2021-01-11 11:12] treivize commented on #206
@Tatranskymedved, regarding this issue, I think that the smallest impact needed to fix it without having to use branch should be:

![image](https://user-images.githubusercontent.com/42570903/104173072-89e52e80-5405-11eb-92d6-8471960e5f57.png)

(Backed GI) -> (one minus) -> (Step with edge to 1) will out 1 only if Baked GI will be zero and out 0 for any other value. So adding this value to the init

[2021-01-11 18:23] amel-unity commented on #271
Thanks again for testing @davejrodriguez , I will need to close this issue because we just merged [another PR](https://github.com/UnityTechnologies/open-project-1/pull/285) to replace this tool as [mentioned in the thread](https://forum.unity.com/threads/editor-window-to-open-scenes.1019986/#post-6713191).

[2021-01-11 18:23] #271 closed

[2021-01-11 21:51] ciro-unity commented on #297
Hmm, it does feel kinda hacky, but it's also kind of safe because all it does is reset a bool. If we go that route, I'd unify it and make it a constant on all actions that need to be instantaneous (I guess all of them).

[2021-01-11 23:33] DeivSky commented on #295
I don't think I can, I don't see any option for it in another closed issue I opened. Anyone can comment on closed issues, though, so if anything you'll receive a notification and get to reopen it yourself? 😄

[2021-01-12 01:03] DeivSky commented on #297
Someone mentioned in the forums about doing it in `LateUpdate`, I think that would be the simplest solution.
[code]
Another option I just came up with, and I think the least hacky one -because it's listening to what we actually care about in the state we're in, instead of randomly setting things to false,- would be to make an **Action** to dynamically subscribe and unsubscribe from events.

Here i

[2021-01-12 11:34] ciro-unity commented on #295
I'll keep an eye on it, unfortunately I have a tendency to miss notifications of comments on closed PRs/issues because my notification centre is always full of stuff.

By the way I added images to it (and thus, made another couple of tweaks)

[2021-01-12 12:57] #295 closed

[2021-01-12 13:24] shootingdux opened #302 "SceneLoader builds every growing list of _persistentScenes"
**Short description**
When the user loads different menus and scenes the _persistentScenes list grows as shown in image.

![image](https://user-images.githubusercontent.com/65027774/104319267-8a022e80-54d8-11eb-912a-8830c0232d51.png)

**Expected behaviour**
The _persistentScenes List<GameSceneSO> to only add values if not already present.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a

[2021-01-12 14:45] ciro-unity commented on #297
I will reply with the words of a wise man:

🤣

[2021-01-12 15:12] amel-unity commented on #302
Hi @shootingdux, I just saw your issue after I fixed it [in the last commit ](https://github.com/UnityTechnologies/open-project-1/commit/4d431bbafad551aeedb37019fcb2ee11d69565b2). Thank you for testing :)

[2021-01-12 15:34] shootingdux commented on #302
Nice, good fix.

Closing now as it is resolved.

[2021-01-12 15:34] #302 closed

[2021-01-12 20:07] kira0x1 opened #304 "Trying to use an item again will cause an ArgumentOutOfRangeexception exception"
**Short description**
After an item has been used, the id is set to -1, the player can still press the button, and if they do they will get an
ArgumentOutOfRangeexception

**Expected behaviour**
To make sure the index is not negative.
To check if the index is approriate I,E not -1 for an array.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the initialization scene.
2. Start the game

[2021-01-12 22:06] Maximetinu opened #305 "Objects moved by ClickToPlaceHelper tool aren't detected in the scene so cannot be saved"
**Short description**
If you move an object with the ClickToPlaceHelper tool, its changes are not detected by Unity, so it doesn't allow to save the scene.

**Expected behaviour**
When moving the transform, the scene name above the hierarchy should be shown as MyScene* - stating that the scene has some changes on it, so it can be saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a

[2021-01-12 22:17] Maximetinu commented on #305
I opened a PR for addressing this - #306

[2021-01-13 10:25] amel-unity commented on #305
Thanks a lot for testing and proposing the fix @Maximetinu, I will merge the fix now 👍

[2021-01-13 10:25] #305 closed

[2021-01-13 10:59] amel-unity commented on #304
Thank you @kira0x1 for testing and providing the fix, I will merge it 👍
I think we can add later another improvement: We make the button interactable only when we have an item that could be used (For now we can still click on the use button, even though it doesn't do anything. So it can be a bit confusing for users to click without anything actually happening :) )

[2021-01-13 11:00] #304 closed

[2021-01-13 11:04] kira0x1 commented on #304
No worries ❤ it was just one line of code but I was worried the bug would annoy people especially ones new to the project.
This must be my smalled pr to date hehe.

[2021-01-13 11:10] DeivSky commented on #297
Hahaha, I could sense your head shaking as I was typing 🤣. I thought I'd share the idea anyway 😉.

[2021-01-13 14:29] seoyeon01 opened #308 "Incorrect summary of BoolEventChannelSO"
**Short description**
In "BoolEventChannelSO.cs" line 5~6
Instead of "BoolEventChannelSO", summary of "IntEventChannelSO".

[2021-01-13 15:59] amel-unity commented on #308
Hey @seoyeon01 ! Thanks for mentioning it, I just updated it [on the last commit](https://github.com/UnityTechnologies/open-project-1/commit/28541fd7472cb23a6725335fdad36d8d52533386)

[2021-01-13 15:59] #308 closed

[2021-01-14 00:34] CuddleTree opened #309 "Character Stuck when he can't touch ground"
**Short description**
Character can't move if he is stuck in mid air (ex. in between rocks).

**Expected behaviour**
Character be able to jump back out if he is not touching the ground and not falling

**To Reproduce**
Play Scene testing ground.
Move Character on top of rocks.
Character got stuck at position X/Y/Z 0.16/3.18/7

[2021-01-19 12:52] rainaldisatria commented on #297
Solved the issue by modifying Protagonist.cs to this:
![image](https://user-images.githubusercontent.com/57592497/105035320-5fdade80-5a8d-11eb-8e38-1006b8dbfa58.png)

So the the thing about consuming input by using IsHoldingAttackActionConditionSO is that...
![image](https://user-images.githubusercontent.com/57592497/105035548-bd6f2b00-5a8d-11eb-8eef-9a3bf8c0c3ee.png)

It'll only be called in the

[2021-01-19 12:56] rainaldisatria commented on #297
I'm thinking about another solutions, but seems like the best and clean way to consume the input is with that StartCoroutine way.

We could consume it OnStateExit of Attack, but it will only solve when we spamming the attack button. Not gonna help when you press Jump then pressing attack (Jump doesn't consume the attack)

So the only way to not use the StartCoroutine way is to consume Attack on ev

[2021-01-19 15:42] DeivSky commented on #297
Hey @rainaldisatria, the thing is that this doesn't only happen when attacking, it happens when talking, picking things up, and any other 'tap' actions we might add in the future, so we'd need a coroutine for each. That's why I thought setting all those booleans to false in `LateUpdate` would be the simplest thing to do.

Thinking more about it though, since these events come from the input system

[2021-01-21 16:41] #167 closed

[2021-01-21 16:41] #293 closed

[2021-01-21 16:41] #309 closed

[2021-01-24 18:39] ciro-unity opened #321 "Water rendered way higher than it should"
**Short description**
Water gets rendered way higher than it should.

**Expected behaviour**
Waves shouldn't go higher than the value specified in the Inspector (Wave Height) in any case.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an empty scene and put a great plane with the Water material.
2. Walk around (see video)
3. You will eventually find a spot where the water waves are ab

[2021-01-24 18:42] ciro-unity commented on #321
cc @treivize: you might want to see this :D

[2021-01-24 19:19] treivize commented on #321
Oh oh... Definitely!

[2021-01-24 22:00] Treslina opened #322 "Picking Up items sometimes throws `NullReferenceException`"
**Short description**
Picking up an item after `Attack` animation playing is causing `NullReferenceException` and prevent picking up the item. Also while picking up animation is playing, pressing the `E` button again throws a `NullReferenceException`.

**Expected behaviour**
Don't throw an exception and pick up the item.

**To Reproduce**
Steps to reproduce the behavior:
1. Walk into a `Collectibl

[2021-01-24 22:43] ciro-unity commented on #321
By the way it's related to the Global Fading Distance, because when you bring it to lower values the water stays lower, if you put the value higher you will see the water raise above the camera any time.

[2021-01-25 08:20] treivize commented on #322
Hi @Treslina,

Thanks to raise this issue, you have found it too! Indeed there is an issue with the current interaction manager. I guess, you have found the root cause of this issue looking at your scenario. Actually I have already opened a PR to propose a fix to this issue in addition to the capability to pickup multiple objects without having to move the character to force a new collider entry w

[2021-01-25 10:32] treivize commented on #321
@ciro-unity, I have opened a PR to fix this issue, just maybe one comment on the setup of the water plane from your video and how I can see in the Beach scene, the scaling on Y should be kept to 1, otherwise it will be used as a factor for the Water height parameter.

[2021-01-25 15:31] amel-unity commented on #288
Hi @Bvanderwolf , thanks a lot for testing. We did some major changes on the loading system in the game, currently we don't track the total progress of the scenes to load anymore. Instead, we just check if the loading of all the scenes is done. Since the scenes in our game will not be huge, we don't expect that the loading screen will be shown for so long. We will just show a spinning logo without

[2021-01-25 15:31] #288 closed

[2021-01-25 17:37] Treslina commented on #322
Hello @treivize! 😊

I didn't see the PR, I just looked at the issues sorry about that 🤦  I looked at your code and it looks great! I thought more basic fixes like, setting `_currentInteractableObject` only on `if-else` statements in `OnTriggerEnter` or  making `Interaction` collider to trigger only `Interactable` objects using layers etc. ✋

[2021-01-25 19:34] #206 closed

[2021-01-26 03:06] island212 opened #328 "Can't hear the 3D audio cue"
**Short description**
I can't hear the 3D audio cue because the AudioListener is on the camera far from the character.

**Expected behaviour**
I should hear the sound around the character. So when I am close to the fire, I should hear the fire more. Either way, I can't hear any audio from around the character.

**To Reproduce**
1. Open 'Initialization' scene.
2. Click on 'Start'.
3. Go to the left

[2021-01-26 19:14] island212 commented on #328
Check today stream and I think I understand how is supposed to work. I will close this issue and work on the codes

[2021-01-26 19:15] #328 closed

[2021-01-26 22:33] studentutu opened #331 "Current scene/quest/attack workflow will not work with the Bundles - game is not scalable"
The issue with asset bundles and build in asset bundle pipeline is as follows :
1) All assets that are on the scene and or referenced by the scene (prefabs from resources/scriptable object from the project itself, textures, sound clips etc.) are copied into a bundle.
There are no original references inside the bundle itself to the assets that you are seeing inside the  Editor /Editor Playmode.

Th

[2021-01-26 22:41] studentutu opened #332 "Introduce Unity Tests/Simulation Tests/Recorded Tests"
The project goes larger and larger with each passing day - it is a must have feature - unit testing,
We need at least a basic code coverage on a simple test cases for all of the core systems :
- [ ] Quest (test if the quest can be completed from  start to finish)
- [ ] Audio (test if the audio queue is being played  when player is near it )
- [ ] Input (test if the Inputs are not being changed and

[2021-01-27 23:54] AlexandreGheraibia commented on #297
Hi everyone,
My solution is to consume the inputs attackInput and extraActionInput in the function OnStateExit() of PlayLandParticlesActionSO

[2021-01-28 11:27] rcarag opened #333 "SpawnSystem no longer works as the default spawn location"
The recent modifications in SpawnSystem to allow multiple entry/exit points seems to have broken the ability to use SpawnSystem on its own as a default spawn location.

The problem happens because the SpawnSystem's transform is not included in the results of `GameObject.FindGameObjectsWithTag("SpawnLocation")` in the `SpawnPlayer()` method. As a result, when a scene without other spawn locations i

[2021-01-28 15:33] AlexandreGheraibia commented on #297
For bypass the Attack problem, I enabled transition from a state to the same state in the class AddTransitionHelper.
And in Asset > ScriptableObjects > StateMachine > Protagonist > PigChef_TransitionTable, I Add a transition from Attack to Attack with the condition if IsHoldingAttack == False and Timer_AttackAnimation == True

For the Jump problem, I added  the condition if isHoldingAttack == true

[2021-01-28 17:17] amel-unity commented on #322
Hi @Treslina ! Thanks a lot for testing. I also noticed the issue and thought about using layers too. @treivize solutions works so I will merge it, thanks for proposing the PR :)

[2021-01-28 17:18] #322 closed

[2021-01-28 18:45] AlexandreGheraibia commented on #297
Hi,

In Asset > ScriptableObjects > StateMachine > Protagonist > PigChef_TransitionTable.asset.
I changed the Transition Attack to Idle by the following condition :
if Timer_AttackAnimation is True
And if IsMoving is False
Or if TimerAttack is True
And if IsHoldingAttack is True

For resolve the problem when you Jump, I changed the transition JumpDescending to Idle by the following condition :

if

[2021-01-29 22:44] maltrusmaltren commented on #297
Hi for all.

I made two little changes on State Machine.

1st change - Walking State:
I added a transition to Talk State when player will talk to someone and not in proccess of jump.
![image](https://user-images.githubusercontent.com/396147/106334771-18f99f80-626a-11eb-9237-e8acb5908c6c.png)

2nd change - Talking State:
I added more one action to disable player walking.
![image](https://user-image

[2021-01-30 21:21] AlexandreGheraibia commented on #333
Hi,
I looked in the spawnSystem file and saw this call :
FindSpawnIndex (_pathTaken? .Path ?? null) why not just put FindSpawnIndex (_pathTaken? .Path)
According to stackoverflow, pathTaken? .Path means that if PathTaken == null then return null else return pathTaken.Path.
 and A ?? B means if A! = null then A otherwise B.

[2021-01-30 22:33] AlexandreGheraibia commented on #297
my idea for prevent action from jumpDescending
![image](https://user-images.githubusercontent.com/27300700/106369643-787faa00-6353-11eb-83b9-cd4cff205dc9.png)

[2021-01-31 01:24] ciro-unity commented on #333
Is this even still broken? I am playing the build from `main`, and I can spawn fine in any scene, including "Empty_Location" (which is like the simplest playable scene we have).

[2021-01-31 11:05] ciro-unity commented on #331
Hey @studentutu, thanks for bringing this up. We actually already discussed it in the forums. User peter77 brought it up.
I double checked with an expert in Addressables, so I'll reply here and there with the same message:

The Addressables system tracks dependencies of objects. If you reference a ScriptableObject from a GameObject in a scene, and you  reference the same SO from another GO in anot

[2021-01-31 11:33] ciro-unity commented on #297
@AlexandreGheraibia I provided some feedback and a question in #338

[2021-01-31 20:26] DeivSky commented on #297
@AlexandreGheraibia I kind of get where you're going, but wow... you truly beat me at overcomplicating things there.
This issue has been open for longer than I expected, so I've made a simple fix (#339) using coroutines. I thought I could get away with using just one but I was actually unaware that the interaction input was in a separate script (haven't had much time to catch up with all the syste

[2021-01-31 22:00] ciro-unity opened #340 "Camera lerps into place at the beginning of a scene"
**Short description**
The Cinemachine Vcam lerps into place when a scene is loaded.

**Expected behaviour**
While a small camera movement is ok, it needs to be intentional. As it is now, it's a bug that depends on the camera position at load time.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Beach scene. Press play.
2. Observe the camera moves a bit on entering play.
3. Turn arou

[2021-01-31 22:06] ciro-unity commented on #182
Should I close this issue?

[2021-01-31 22:07] ciro-unity commented on #280
Is this still happening? (might be)

[2021-02-01 03:05] DeivSky opened #342 "Interaction System doesn't follow the FSM"
**Short description**
Interactions don't happen along with their corresponding States (objects get picked up without the character being in the PickUp state, dialog starts without being in the Talking state, etc).

**Expected behaviour**
Drops get picked up when entering the PickUp state, dialogues start when entering the Talking state, cooking starts when entering the cooking state.

**To Reprodu

[2021-02-01 07:46] neon-age commented on #182
Welp, it only got worse overtime.

[2021-02-01 09:54] rainaldisatria commented on #280
Now that we are using delegate, I don't think so.

But I found another bug (minor) while trying to check this...
I'll open a new PR.

[2021-02-01 09:56] rainaldisatria opened #343 "DialogueManager throw null reference exception if OpenDialogueUIEvent is not initialized."
**Short description**
Just a minor bug that'll occur if DialogueLineEvent in DialogueManager is not initialized.

**Expected behaviour**
Should not throw null reference exception even if DialogueLineEvent is not initialized by UIManager.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Scene/Examples/
2. Click on Cutscenes scene
3. Press start button.
4. This (null reference error) happ

[2021-02-01 10:10] rainaldisatria commented on #342
This is it, the problem I'm facing when developing my hack and slash game with our State Machine.
It is really hard to maintain and sync two different state machine at the same time, so what I do is:

Removing Unity's State Machine (Animator) completely.
![image](https://user-images.githubusercontent.com/57592497/106443715-64e95600-64af-11eb-807a-33ec5a643930.png)

Then, to get the ability to tran

[2021-02-01 10:56] DeivSky commented on #342
Hmm, that isn't really the problem I'm describing. I don't think we're having any issues with syncing the StateMachine and the Animator controller, the problem is the Interaction System that is working independently of them.

For instance, we can't go from JumpAscending to PickUp because it wouldn't make sense to play the PickUp animation mid-air, so that part is working fine. However, the Interac

[2021-02-01 11:30] rainaldisatria commented on #342
Oh, well... :D
I've been very busy doing my errands lately, I didn't even read the description.
Just kinda assume it by the title
hahaha, my bad

[2021-02-01 16:35] maltrusmaltren commented on #262
I made some tests here and everything goes well.

I was unable to reproduce the error.

I used the latest version of the project.

It worked perfectly here.

Does it still happen to someone?

Would you have any other action to try to reproduce?

Thanks in advanced.

[2021-02-01 17:47] #297 closed

[2021-02-01 19:54] AlexandreGheraibia commented on #342
Porposal :
Add the following function to interaction Manager

`public void EnableInteraction(bool enabled) {
		if (enabled)
		{
			_inputReader.interactEvent += OnInteractionButtonPress;
		}
		else
		{
			_inputReader.interactEvent -= OnInteractionButtonPress;

		}
	}`
And create an Action DisableInteraction

[2021-02-02 05:52] sergio-nnz commented on #340
Hi, I would like to fix this bug!

[2021-02-02 15:35] AlexandreGheraibia commented on #342
I think they are in sync but the object in pickup is destroyed when the interaction is initiated in interactionManger

[2021-02-02 15:56] studentutu commented on #331
@ciro-unity yep, thank you! Could you make a list of the issues that were inside the forum that were critical and what was a  solution? Something like a github ticket with a list of issues the project encountered along the way?

[2021-02-02 16:07] ciro-unity commented on #331
Sorry, I thought it was quick to find. Here's a link to the discussion: https://forum.unity.com/threads/event-system-and-addressables.1028671/
It's the same concern you brought up, and the solution is the one described above.

What do you mean by "list of issues"? If you mean issues in general, they are browsable here (https://github.com/UnityTechnologies/open-project-1/issues) and filtering by cl

[2021-02-02 16:12] ciro-unity commented on #340
Feel free to give it a shot, @sergio-nnz! We don't "assign" tasks, but rather evaluate work that is done on them and pull it in if it solves the issue.

If you have a clear idea on how to fix it you can move forward and open a PR, or use this issue for comments, or if you want to bring the discussion to the forums feel free to do so by opening a new thread there.

[2021-02-02 16:14] ciro-unity commented on #342
@AlexandreGheraibia double check the opening post, it's not like they are "never" in sync, but you can de-synch them by pressing buttons with a specific timing.

[2021-02-02 16:55] DeivSky commented on #342
Okay I've changed the title because "sync" usually refers to animations, but I want to stress that the problem is the Interaction System.

That's exactly what I meant with "out of sync", the item is transferred to the inventory and the GO destroyed regardless of our current state.

[2021-02-02 17:03] AlexandreGheraibia commented on #342
@DeivSky @ciro-unity my bad, I focused on pick up. But the problem is in OnInteractionButtonPress()
in interactionManager. This function informs the state machine that we have interacted and simultaneously processes the action

[2021-02-02 17:06] DeivSky commented on #342
Exactly, the script is doing too many things. Kind of reminds me of the earlier versions of `Protagonist.cs`.

[2021-02-02 18:32] AlexandreGheraibia commented on #342
we could divide the function in two add an voidEventChannel on interactionManager and raise the event in an action on talk and pickup

[code]

[2021-02-02 23:03] studentutu commented on #331
@ciro-unity how about the issue with all of the major systems in place, something like a retrospective issue?
This will help visualize which problems were tackled first and which raised another set of issues and so on.
Something like a retrospective of the project in general.
Which rules/standards were introduced and what was the purpose of it.
Very powerful and it will help tremendously for the u

[2021-02-02 23:28] studentutu opened #346 "Set the eviromental tools / guide for the project with .gitattributes and dotfiles, possible a small bash install script"
**Short description**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. This (wrong behaviour) happens.

**Notes**
- Add any other context about the problem here.
- Point to the screenshot

[2021-02-03 02:50] AlexandreGheraibia commented on #342
Result :

https://user-images.githubusercontent.com/27300700/106690876-d4a43180-65d2-11eb-8918-49932daa5591.mp4

[2021-02-03 22:28] Eddrico opened #349 "The Slime Critter attack throws the player several meters away"
Short description
When the slime critter attacks and the player jumps, the inertia of the attack is transferred to the player, throwing the player several meters away.

Expected behavior
The attack should not push the player so far.

To Reproduce
Steps to reproduce the behavior:

    1.- Open a scene with the TestingGround. Press play.
    2.- Get near a Slime Critter and wait for his attack.

[2021-02-03 22:33] Eddrico opened #350 "The character gets stuck between rocks"
Short description
The character gets stuck between rocks, the directional input is recognized but the character does not move, the character can get out of the place after several tries, This is reproducible with keyboard and Joysticks, but keyboards get stuck longer than joysticks.

Expected behavior
The Character should be able to move.

To Reproduce
Steps to reproduce the behavior:

    1.- Ope

[2021-02-03 22:45] ciro-unity commented on #349
Forum link: https://forum.unity.com/threads/the-slime-critter-attack-throws-the-player-several-meters-away.1050692/

[2021-02-03 22:57] ciro-unity commented on #346
Thanks @studentutu, there are some good suggestions. Some we already have in the project, like locking the Unity version or asset naming conventions. Some others we'll do of course, like compressing assets...

Some things I don't agree with. For instance, using .jpg in the project is a very bad idea. Same for .oggs. You want clean files in the project, then they will be compressed in the build. Bu

[2021-02-03 23:00] #182 closed

[2021-02-04 06:49] studentutu commented on #346
Completely agree regarding compressed files as sources.
Regarding the Changelog  - you are basically doing the same thing in the Unity youtube channel, where each video is a Changelog.md. Would be nice to actually copy the main features from it and just paste it in.

[2021-02-04 08:13] ciro-unity commented on #346
Can you link an example of one? To understand the level of detail that you're thinking about, and whether it is useful.

[2021-02-04 08:15] ciro-unity commented on #262
No, same for me... not happening anymore, hopefully it was something that was fixed by Unity (we are updating the editor to the latest LTS). I'll keep it open for another while, but for now I've degraded it to "minor" since the occurrence rate is very low.

[2021-02-04 08:50] treivize commented on #349
For this one, I would wait for the coming PR about combat system to be merged. Jumping will be prevent when the player is getting hit by the slime critter attack, so this bug should not be reproduceable after the integration of this part of the system.

[2021-02-04 10:08] studentutu commented on #346
@ciro-unity  here is a good example (it is automated, created based on the specific tags in the commit message) https://github.com/ExtendRealityLtd/Zinnia.Unity/blob/master/CHANGELOG.md

[2021-02-04 14:12] AlexandreGheraibia commented on #349
In SlimeCritterAttackController, is it normal that the difference between positions isn't normalized ?
 `_propelTargetVector = (_playerTransform.Transform.position - transform.position) * _propelFactor / _propelDuration;`

[2021-02-04 17:24] vjs22334 commented on #340
I think I have a fix. warping the vcam to the player after setting the target seems to work.
[code]

https://user-images.githubusercontent.com/30682201/106930528-a8f08b00-673b-11eb-817e-444cb1ef7476.mp4

I guess the distance can be adjusted a bit to warp the camera to a set distance away from the player.

Should I make a pr

[2021-02-07 10:30] ciro-unity commented on #280
I am seeing it again, and consistently... (every time I play, and with **exactly** the same timing)
Aaaaaaahhh what is it?! 😭

[2021-02-07 10:30] ciro-unity commented on #262
I am seeing it again, and consistently... (every time I play, and with exactly the same timing)
Aaaaaaahhh what is it?! 😭

[2021-02-07 17:00] #340 closed

[2021-02-07 17:00] #342 closed

[2021-02-07 21:06] studentutu commented on #332
@ciro-unity  for the unit tests/ regression tests you can use this repo - https://github.com/studentutu/Unity3DNSubstitute

[2021-02-08 13:04] ciro-unity commented on #346
Really cool.

I fear we don't have that kind of discipline here, for instance enforcing clear and descriptive Commit comments is not something I see happening on this project. Sure we could request it as part of the process, but it would only mean more work on our side to check that those requirements are met. We have guidelines in place for code and asset submission, but they are often ignored.

[2021-02-08 13:17] ciro-unity commented on #349
The issue doesn't happen because the player jumps. It just happens when it's squashed by the attack against a rock or wall.

I actually made a video of it some time ago:

https://youtu.be/aQ9KuTuTNbM

I'm not jumping at all here!

[2021-02-08 13:24] treivize commented on #349
Indeed, but are you able to reproduce it now that the player is really getting hit by the critter? I have just tried multiple times to reproduce it without success.

[2021-02-09 17:44] studentutu opened #360 "Prepating for up-scaling the open source project to a larger /diverce community"
Here is an ideal place to mark everything that can go wrong with the project when it scales rapidly.
This place could also serve the role of the solution center for all of those issues.
Please join and share your experience with large projects.

- [ ] Too many assets.
Most of the project when upscaled will look something like this (70% assets,15% scriptable objects and resources along with them,10

[2021-02-13 14:10] mushu8 opened #366 "Released Mac app verry laggy"
**Short description**
Hard to play the game because of performance issues :
camera lags, it takes 3 seconds to jump, 2,50 GB RAM used for the application.

**Expected behaviour**
Smooth movements

**To Reproduce**
1. Download the 0.6 alpha for Mac
2. Launch it
3. Game launch fast but it is very laggy

**Notes**
Using Mac OS Catalina 10.15.6 on 3GHz 6 cores i6 and 32GB DDR4

[2021-02-13 15:47] mushu8 commented on #366
I am a beginner with Unity game development but not in development.
I would like to use this project as a starter to learn and try.
Could someone tell me if it is possible to reduce the memory usage of this project so it can be adaptated to a lighter game ?

[2021-02-13 16:36] ciro-unity commented on #366
Thanks for the issue report, @mushu8!
Did you try and check why the game lags? It would be great to know. You could try and use the profiler? Since you mention you are a beginner with Unity, [this talk might come in handy](https://youtu.be/uXRURWwabF4).

You might also have to rebuild the app for Mac using "Development Build", so that you can attach to it and profile:
![image](https://user-images.

[2021-02-13 16:44] ciro-unity commented on #360
I don't get the list. Are these issues that you see on the project?

There are many solutions that we cannot adopt. FMOD, Zenject, etc. This being an open-source project, we can't use third party tech whose license is not compatible with ours. Some others we already have (Addressables). Some are not applicable (prototyping? we are not doing that)

For these reasons I'll close the issue, the list g

[2021-02-13 16:44] #360 closed

[2021-02-13 16:48] ciro-unity commented on #349
No I don't think so. The initial description can throw you off guard: it's not that the inertia is transferred (I think) since the player has no Rigidbody. Most probably what was happening is that the Critter would move into the player -> Next frame the player is pushed out (as would two colliders one inside the other).
But now that the Hit is implemented, the player instantly plays an animation w

[2021-02-13 17:14] AlexandreGheraibia commented on #349
perhaps because in HasHitHeadCondition you have the following code :
bool isMovingUpwards = _protagonistScript.movementVector.y > 0f;
		if (isMovingUpwards)
		{
			// Making sure the collision is near the top of the head
			float permittedDistance = _characterController.radius / 2f;
			float topPositionY = _transform.position.y + _characterController.height;
			float distance = Mathf.Abs(_protagon

[2021-02-13 17:46] AlexandreGheraibia commented on #349
velocity ​​is zero when you enter idle state

[2021-02-14 17:06] ciro-unity commented on #343
Closing the issue because it's not happening anymore due to some null checks implemented in the script.

However, please note that the expected behaviour is misleading:

This is incorrect, the expected behaviour is that

If not initialised, then it **should** throw a NullReferenceException - to warn the developer of an error in the setup.

[2021-02-14 17:06] #343 closed

[2021-02-14 19:39] MonSell commented on #262
I'm not sure if this is related (I don't think so), but I have enocountered unresponsiveness related to the Statemachine. I'm also using the Statemachine for my protagonist movement. I currently have 3 states, Idle (Initial State), Run and Crouch. If I go from Run to Idle state, and then during that transition press the Crouch input button. It takes an additional second for the character to go to

[2021-02-15 17:14] treivize commented on #262
It was back also when we move to 2019.4.19f1 and it seems gone again now with the last upgrade to 2019.4.20f1!
It could be interested to check the release notes for the last 3 LTS version and see if a bugfix related to input system has been done, fallen back and applied back  :)

[2021-02-16 15:27] seoyeon01 opened #374 "Processing for OnGameExit"
I looked up Codecks RoadMap, Youtube, Github, and Forums,
but i couldn't find any issues regarding the end of game.(Application.Quit)

Is there a roadmap or planning card that i missed?

If i understand correctly.
- PersistentManagers have GameExitListener
- Main Menu Scene have Exit Button
- Exit Button can raised onGameExit(SO) Event
- SceneLoader's private void ExitGame() is used to exit the ga

[2021-02-16 20:31] ciro-unity commented on #374
Hey @seoyeon01!
If I understand it correctly, you're saying that the game "doesn't exit" when you press the Exit button in the Editor, right?
In reality, it does, but only in the build. The Editor never responds to `Application.Quit( );` - and you have it correct, a good substitute would be `UnityEditor.EditorApplication.isPlaying = false;`

It's not super important to have an exit button in the e

[2021-02-16 20:34] seoyeon01 commented on #374
Thank you.
My question has been solved perfectly :)

[2021-02-16 20:34] #374 closed

[2021-02-16 20:47] ciro-unity commented on #262
Hmm, this sounds like it has something to do with the animation transition. You have an animation clip playing for Idle, right? Is it 3 seconds long? :)
Check if the transition from Idle to Crouch in the Animator has "Has Exit Time" checked. If so, uncheck it.

![image](https://user-images.githubusercontent.com/20049224/108119773-8dbd3e00-70a0-11eb-9468-1efbb36c66ff.png)

[2021-02-16 20:48] ciro-unity commented on #262
Nah, the issue appears inconsistently and I'm pretty sure I've seen it on and off on the same version. Also I would expect it coming from the Input System (thought that might be not true) and that didn't update every version. So 🤷🏻‍♂️

[2021-02-19 18:02] treivize commented on #366
I tried to google this MacOS specific performance issue and came across this log from Unity Answers: [https://answers.unity.com/questions/1695529/is-it-expected-to-see-worse-performance-on-mac-osx.html](https://answers.unity.com/questions/1695529/is-it-expected-to-see-worse-performance-on-mac-osx.html)

It might be some thing to retrofit in 2019.x LTS or we wait for 2020.x LTS version to get this

[2021-02-20 19:08] TJHeuvel opened #380 "Unsaved scene changes dont show in play mode, Editor cold start doesnt work from mainmenu"
https://github.com/UnityTechnologies/open-project-1/blob/04a50f215b184a6f90e828cece44cec2318ebe26/UOP1_Project/Assets/Scripts/SceneManagement/EditorColdStartup.cs#L27

I cannot interact with the Main Menu when i open that scene and press play. I'm not sure why, the graphic raycaster simply doesnt hit anything. It also [seems like my scene changes dissapear](https://dl.dropboxusercontent.com/s/7uh9

[2021-02-22 20:02] ciro-unity commented on #380
That is weird and we should fix it.

Yeah, that's an unfortunate consequence of reloading the scene when pressing Play. We currently do this to allow the ability to press Play from any Location scene and then be able to move through the game.

This is the scene architecture we use: https://github.com/UnityTechnologies/open-project-1/wiki/Game-architecture-overview#Scenes
When pressing Play from a

[2021-02-22 20:07] ciro-unity commented on #366
Hmm, I'm not specific if you're talking about the issue @mushu8 is describing? Sounds to me like a framerate issue, more than specifically on the input.
But I'm not too sure.

[2021-02-23 10:59] TJHeuvel commented on #380
I dont feel very qualified to comment about the setup, i just picked up something small to get familiar with Shader Graph. I tried to fix the issue for mainmenu, but quickly felt overwhelmed because i dont know the setup, and i didnt read any documentation.

Normally in my projects we have a prefab with persistents, that has an EditorOnly tag, overridden in the Initialization scene to not be edito

[2021-02-23 12:13] TJHeuvel commented on #380
https://github.com/TJHeuvel/open-project-1/commit/7815c86b821de7077ced5168e5a63f6ac43e2372

Hacked my way into it, but i dont think its good enough to do as a pull request. Basically; just load the persistent scene, and SceneLoader tries its best to guess which GameSceneSO's are loaded when it starts.

[2021-02-23 17:56] r4hulCorleone commented on #349
Hi, as i informed in unity forum, I like to work on this bug, producing the bug was hard for me because i need better timing, so i wrote a simple code that player does a jump action with delay after critter starts to attack, and with a proper delay, i reproduced the bug when player jumps successfully for a lot of times. I will search for the root of this bug, i think  @AlexandreGheraibia comment i

[2021-02-24 02:56] phx1999 commented on #350
Though directional input is useless, you can easily jump out the the stuck.
Do you mean that you want use WSAD to leave the stuck place? (It seems unreasonable)
Or you want to see the movement ainimation?
Or change the rock architecture so that the character can leave the stuck?

[2021-02-24 19:45] paradox-mp commented on #349
I think this bug is still active.  I can reproduce a minor version of it.  I've included two examples below.  Here's a short description.
The player is not able to walk up the smaller rocks,  However, when the slime attacks hit the player, the player is pushed on top of the rocks.

This part is pure speculation...
It seems similar to the bug described above which is why I posted it here.  If @ciro

[2021-02-26 03:41] paradox-mp opened #383 "Slime Critter pushes player on top of small rocks"
**Short description**
In TestingGround SlimeCritter_Base is able to knock player on top of rocks less than 0.5 units (meters) high.  This is observed on both of the rocks less than 0.5 units attached to the larger rock structure. In normal play, player can access this area only by jumping, and not by walking.  Was not able to replicate on rocks greater than 1 unit.

**Expected behavior**
Expected

[2021-02-27 16:35] ciro-unity commented on #333
I think we decided that this issue is no longer valid. Closing!

[2021-02-27 16:41] #333 closed

[2021-02-28 23:22] ciro-unity opened #385 "No locale selected in build"
**Short description**
When the game is built, the Localisation system fails when loading strings and presents this message in the console/log:

[code]

[2021-03-10 04:30] IsaiahKelly commented on #385
Perhaps it would be a good idea to just remove the Localization package entirely and roll our own solution instead? This package is in early preview at the moment anyway, so issues like this are bound to happen.

Using preview packages in general also seems to completely defeat the purpose of sticking with an LTS version of Unity. One could make an exception for editor only tools, like ProGrids, s

[2021-03-16 08:18] seoyeon01 opened #389 "EditorInitializer does not work normally on MainMenu Scene"
**Short description**
When start with Initialization Scene, the UI of Main Menu Scene operates normally.
(Button Click etc..)
![s1](https://user-images.githubusercontent.com/48429544/111275184-3dbea080-8679-11eb-87da-5fea5c669721.gif)

When EditorInitializer is in MainMenu Scene, UI (Button etc..) does not work normally
(You can see that the button is not pressed.)
![s2](https://user-images.github

[2021-03-16 19:45] IsaiahKelly commented on #380
This appears to be caused by the same issue I discussed [on the forums](https://forum.unity.com/threads/gameplay-ui-unresponsive-in-editor.1069193/). Essentially, the way the EventSystem object is getting loaded is the problem, because I also had this issue and removing the EventSystem object from the MainMenu scene resolved it.

I think you can actually do this easily without "hacking" anything,

[2021-03-17 06:00] TJHeuvel commented on #380
https://github.com/TJHeuvel/open-project-1/commit/7815c86b821de7077ced5168e5a63f6ac43e2372

See my attempt, not too difficult. I just dont know the systems enough.

[2021-03-19 05:16] JenniTheDev commented on #350
I opened up the TestingGround scene and reproduced the bug that the PigChef gets stuck in the same place. I then went to try and reproduce the same bug in other scenes and places.

Looking at the State Machine Script, whenever the Pig Chef is stuck, the Current State is Sliding. In that state, the only thing it can do is transition to JumpAscending if it's not actually moving. I think this might b

[2021-03-25 12:17] schodemeiss commented on #385
This is a known bug in Addressables. Essentially we need to ensure that the Addressable groups are using Append+Hash naming scheme.

https://forum.unity.com/threads/troubleshooting-addressables-issues.1060346/

That will fix the locales working in builds.

[2021-03-28 15:59] JoaoSant0s commented on #350
I'm studing the SlideActionSO.cs and I think that we can use a similar aprouch that was apploued in AerialMovementActionSO.cs

With that, we can aplly a Slide_Resistance to control the movement velocity of the protagonit in this situation.

Trying to figurirout a mathematical alternative to use same logic of the others actions

[2021-03-28 22:27] JoaoSant0s commented on #350
I tried other aprouch for this problems. I made a comment in the PR description

[2021-03-29 04:16] JoaoSant0s opened #399 "The "save.chop" file it's not found when running the game in a different scene"
**Problem**:

When we run the game without a save file in the persistence folder, using a scene differently of the **Initialization**, the following error is raised:

![image](https://user-images.githubusercontent.com/6272821/112785522-8b002200-902a-11eb-97d3-4ce3797fa6cd.png)

As you can see, the file save.chop don't exist yet, but the FileManager tries to move then to another path.

**Solution**

[2021-04-03 19:06] hoopsenglish opened #403 "iOS Build Error - type or namepace 'MenuCommand', 'MenuItemAttribute', 'MenuItem' not found"
From this project, I have taken 2 files to add support for multiple languages within my project and especially to deal with Chinese, Japanese, and Hebrew languages.
LocalizationComponent_TMProFont, LocalizeTMProFontEvent - these 2 files I have used within my project.
![localization files](https://user-images.githubusercontent.com/78512647/113488433-be83f600-94db-11eb-8c2d-f0daa837962c.png)

All th

[2021-04-05 08:45] schodemeiss commented on #403
Those scripts contain code only available in the Editor (such as MenuItem attribute). To place them outside of an Editor folder, you need to remove any UnityEditor namespace code. One way to find this is to simply remove the line "using UnityEditor" from the imports section at the top, then remove any code highlighted in red in your IDE. But I would guess that will cause other problems.

Unfortuna

[2021-04-13 15:43] ciro-unity commented on #385
You are right, and in this case we're taking a small gamble with this preview package. But personally I believe the package is solid, and it offers too much good functionality to pass (if you're not sold, [watch the livestream we did some time ago](https://youtu.be/KBM-T-gjiaI?t=1950)).

And in any case the fix is easy, doesn't seem to impact us in any way.

[2021-04-14 12:14] #385 closed

[2021-04-14 22:10] mejozzz commented on #389
actions asset on eventsystem currently using default, try it using gameinput

![inputactions](https://user-images.githubusercontent.com/48565499/114786690-c0399d80-9da8-11eb-9cd1-6f94c7e32782.gif)

[2021-04-19 13:07] amel-unity commented on #349
Hey everyone!
Is anyone still able to reproduce the issue on the current main branch? If yes, can you please make a video? I tried to reproduce it but it seems like it is fixed.
Thanks!

[2021-04-19 13:18] amel-unity commented on #350
Hey everyone,
I think it is intended to not be able to leave by simply walking. You just need to jump. So I am not sure if we can still condiser this an issue since we are not stuck but we just need to jump to get out of the rocks. Any thoughts on this or shall we close the issue?
Thanks :)

[2021-04-19 14:04] amel-unity commented on #403
Seems like @schodemeiss provided the explanation. Also, the issue doesn't exist in the project so I will close this issue.

[2021-04-19 14:22] ciro-unity commented on #193
Closing this one because the issue hasn't happened in a while, and we are happy with the current behaviour. Thanks!

[2021-04-19 14:22] #193 closed

[2021-04-19 15:32] amel-unity commented on #389
Hi @seoyeon01 , thanks for opening the issue, it's true. We are currently re working on the editor cold start and we don't think we will fix it in the new implementation considering that it is a hack and we mostly expect to use it to test the different locations but let's keep it as a minor bug in case we have time later we can try fix it

[2021-04-19 18:29] JenniTheDev commented on #350
I think that it can be closed. Maybe a new bug should be made for the player being able to use this to jump up rocks into places where they really shouldn't be?

[2021-04-20 13:28] amel-unity commented on #350
I will close this issue then, just to avoid that anyone spends time fixing it even though it is not really an issue. Yes @jenniferd-unity, please feel free to open another issue if you notice one, I saw in your video what you are referring to and I was able to reproduce it on the beach scene but I think that issue is coming from the colliders so once we start putting together the final environment

[2021-04-20 13:28] #350 closed

[2021-04-21 13:02] amel-unity commented on #280
Hey everyone!
This issue has been fixed so I will close it just to avoid that anyone spends time looking into fixing it.
Thank you all :)

[2021-04-21 13:02] #280 closed

[2021-04-21 14:10] shuttle127 commented on #366
While I understood how to create the development build and attach to it for profiling from the video, not familiar enough with the codebase to figure out why the PlayerLoop in each frame hovers from 14.5-19ms per frame. Is there an easy way to share my profile data for someone else to review so that they don't have to build? I'm on MacOS Big Sur 11.12.3 with 2.9GHz 6-core i9 with 32GB DDR4.

[2021-04-21 14:48] amel-unity commented on #383
Hi @paradox-mp , thank you for opening the issue. I understand that the behavior you expect is to see the character remain in place, or be pushed to sides. However, the observed behavior can also be expected, as long as the rock is not too high, we can also expect the character to be pushed on top of the rock. As you mentioned this only happens for rocks which have a height less than or equal to 0

[2021-04-21 14:54] amel-unity commented on #399
Hi @JoaoSant0s, thank you for opening the issue. We will soon review the 2 PRs open to fix it :)

[2021-04-24 11:50] ciro-unity commented on #366
Hey, yes, the Profiler has a Saving functionality, you can export a file and share it here so we can take a look. Could be useful and fun for learning too!

![image](https://user-images.githubusercontent.com/20049224/115957635-ef1be600-a503-11eb-999b-71f31f4873a9.png)

Thanks!

[2021-04-24 22:38] shuttle127 commented on #366
That's what I did the other day, but when I tried to upload it here, GitHub said the file type (.data) wasn't supported. My brain was so fried that I didn't realize I could convert it to .gz using gzip and upload it, so I'm trying that now and the file (~41MB) is too big (needs to be <10MB)! Guess it'll be for personal edification after all, heh.

[2021-04-27 21:11] ciro-unity commented on #366
I guess you can link it using Google Drive, or Dropbox, or similar? (if you want to)

[2021-04-27 21:18] ciro-unity commented on #380
Thanks @TJHeuvel, I ended up refactoring quite a lot (for other reasons) but the end of the hack looks a bit like yours.
In my case, I ended up creating a new event channel called "NotifyColdStart" (or something like that), which is basically a fake scene load request only used when pressing Play from the editor, doing slightly different operations.

I'll close the issue then!

[2021-04-27 21:18] #380 closed

[2021-04-27 21:19] ciro-unity commented on #389
Fixed in the latest changes on `main`. I'll close it. Thanks @seoyeon01 for reporting it!

[2021-04-27 21:19] #389 closed

[2021-04-27 21:21] ciro-unity commented on #331
Forgot to close this one. It's a non-issue now thanks to how we organised the Addressable Groups.

We actually mentioned situations like this in our recently published Devlog:
https://www.youtube.com/watch?v=XIHINtB2e1U

Thanks, closing!

[2021-04-27 21:21] #331 closed

[2021-04-28 11:21] npa2021 opened #410 "New mein"
**Short description**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. This (wrong behaviour) happens.

**Notes**
- Add any other context about the problem here.
- Point to the screenshot

[2021-04-28 11:32] npa2021 opened #411 ":)"
**Short description**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. This (wrong behaviour) happens.

**Notes**
- Add any other context about the problem here.
- Point to the screenshot

[2021-04-28 12:46] #410 closed

[2021-04-28 12:46] #411 closed

[2021-04-28 15:56] evoisdie opened #412 "A"

[2021-04-28 16:21] #412 closed

[2021-04-29 11:06] Guest666123a1 opened #413 "Windows"
[code]

[2021-04-29 11:20] #413 closed

[2021-04-29 15:37] amel-unity commented on #349
Looks like the issue has been fixed so I will close it just to avoid that anyone spends time looking into fixing it.
Thank you all :)

[2021-04-29 15:37] #349 closed

[2021-04-30 05:34] genema-agency opened #415 "Salam os"

[2021-05-02 17:51] tfloreste opened #416 "Player doesn't leave sliding state (probably related with high framerates)"
**Short description**
When jumping in certain rock formations, sometimes the de player doesn't finish sliding. When that happens the directional movement becomes irresponsible (jumping does work, but not always seem to help the player reach the ground).

It seems to be the same problem described on issue #350
The difference though is that I found it happening when the player is not surrounded by r

[2021-05-02 19:40] soloschenko-grigoriy opened #418 "Enemy attacks protagonist during a dialogue"
**Short description**
When protagonists engaged in the conversation it gets attacked by a nearby enemy. This behavior distracts from conversation and quest, the player is completely defenseless during dialogue

**Expected behaviour**
An enemy should not be able attack the player while a conversation is on

**To Reproduce**
Steps to reproduce the behavior:
1. Launch `TestingGround` scene
2. There i

[2021-05-02 19:59] soloschenko-grigoriy opened #419 "Dialogue doesn't reset after death"
**Short description**
If player dies during conversation, the dialogue gets stuck and remains open after respawn

**Expected behaviour**
Dialogue should reset when player dies

**To Reproduce**
Steps to reproduce the behavior:
1. Launch `TestingGround` scene
2. There is a group of 2 townsfolks and Bard Here by the rock, get close to them.
3. Wait a few seconds and then start a conversation. Altern

[2021-05-03 08:42] #415 closed

[2021-05-03 12:09] ciro-unity opened #421 "Enter Play Mode options break the game"
**Short description**
When enabling the Enter Play Mode Settings, the game spits out a few errors on start.

**Expected behaviour**
It's not mandatory, but it would be nice to make the game work with them.

**To Reproduce**
Steps to reproduce the behavior:
1. Open TestingGround or any gameplay scene.
2. Go to Project Settings > Editor.
3. Enable Enter Play Mode Settings.
4. Press Play.
5. Errors w

[2021-05-03 12:18] ciro-unity commented on #416
Thanks @tfloreste. Like all of these "bugs", let's keep it open for a while but at the same time it's not something that worries us too much as long as gameplay is functional, since this is not a platformer game so we're inclined to accept a little degree of these edge cases.

(PS: your Github profile bio is funny)

[2021-05-04 13:23] ciro-unity opened #422 "The protagonist's eyes disappear in some animation clips"
**Short description**
The protagonist's eyes disappear in some animation clips.

**To Reproduce**
Steps to reproduce the behavior:
1. Play some animations.
2. Observe the eyes disappear.

**Notes**
- Double check animation keyframes and the Write Default property on all states.

![image](https://user-images.githubusercontent.com/20049224/117009898-834c3100-acec-11eb-9eee-f529a4a613ad.png)

[2021-05-07 09:41] #419 closed

[2021-05-08 16:15] ciro-unity commented on #422
Fixed

[2021-05-08 16:15] #422 closed

[2021-05-09 17:40] asb9599 opened #426 "Player automatically hops on Slime Critter when walking into it"
**Short description**
Very minor issue, but if the player is walking into the Slime Critter (which can happen if you are attacking while moving) or any other small objects with similar colliders (i.e. bushes), they will automatically hop up. This can make fighting the Slime Critters pretty awkward if you're facing them head on.

**Expected behaviour**
Player will stay on the ground as it walks aro

[2021-05-17 16:43] TH3UNKN0WN-1337 opened #428 "Dialog Choice not selectable"
**Short description**
When having a Questline Dialog with a Choice at the end you can switch between "Yes" and "No" with your keyboard, but you can't actually make a choice. Since the Dialog Advance input is disabled at this point you only can use the mouse, but no UI element is clickable.

**Expected behaviour**
You can make a choice either with keyboard or with mouse.

**To Reproduce**
Steps to

[2021-05-17 16:47] TH3UNKN0WN-1337 opened #430 "Inventory Errors when empty"
**Short description**
When you have no items inside the inventory there will be NullRefereneExceptions thrown. Also when switching the active Inventory Tab the same exception is thrown.

**Expected behaviour**
When the Inventory is empty no exception is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Inventory (with 'TAB')
2. Switch Inventory Tab (with 'T' and 'Y'/'Z')

**Notes*

[2021-05-17 17:01] TH3UNKN0WN-1337 commented on #430
Since I have no own fork of this repo here is a working fix inside InventoryItemFiller.cs
[code]

[2021-05-19 00:10] soloschenko-grigoriy opened #431 "Dialogue stopped working"
**Short description**
Cannot start the dialogue

**Expected behaviour**
Should be able to start dialogue

**To Reproduce**
Steps to reproduce the behavior:
1. Open`Testing Ground` and move to the townsfolk
2. Press `E` when the menu pops up
3. Observe that instead of starting dialogue error message appears in the console

<img width="2032" alt="Screen Shot 2021-05-18 at 8 01 53 PM" src="https://us

[2021-05-19 02:59] soloschenko-grigoriy commented on #428
Thank you for finding this! Just to confirm/clarify: I, for instance, can _click_ on the option but I cannot confirm selected option with the keyboard to make a choice

[2021-05-20 05:31] Afu123best opened #436 "Archive files corrupted"
I cannot download the .zip because the archive files where the assets folder is present is corrupted

[2021-05-20 08:56] #436 closed

[2021-05-21 13:10] grimstoner commented on #431
This is caused a bug in the GameStateSO.

PR raised to fix: https://github.com/UnityTechnologies/open-project-1/pull/438

[2021-05-21 14:51] soloschenko-grigoriy commented on #431
Thank you @grimstoner looks like both of us came to the same fix 😊

[2021-05-21 14:56] grimstoner commented on #431
Ah... Just saw your PR for the same fix 3 days ago... Apologies.

It seems like there's a lot of interest to contribute, but the moderators can't keep up.

[2021-05-21 15:24] soloschenko-grigoriy commented on #431
No need to apologies 😊 Im just genially glad we came up to the same solution, it means more chances its a good solution 😄 Like in one saying, two heads are better than one 😊

[2021-05-25 13:05] amel-unity commented on #431
Thank you @soloschenko-grigoriy and @grimstoner for mentioning the issue and proposing a solution. I will merge it now :)

[2021-05-25 13:07] #431 closed

[2021-05-26 11:44] grimstoner opened #439 "Inventory close button doesn't work"
**Short description**
When having the Inventory dialog open, clicking the red cross in the top right-hand corner with a mouse does not close the Inventory dialog. Pressing Esc on the keyboard does close the inventory though.

**Expected behaviour**
Clicking this button should close the Inventory Dialog.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Inventory dialog with Tab
2. Try an

[2021-05-26 12:37] grimstoner opened #440 "Settings menu not properly populated"
**Short description**
Whenever the Settings menu is opened for the first time, a NullReferenceException is thrown, and the Settings options are not populated correctly:

![image](https://user-images.githubusercontent.com/3426823/119660659-699f9480-be27-11eb-915a-49f104a26064.png)

**Expected behaviour**
The correct Settings are presented, and no NullReferenceException is thrown.

**To Reproduce**

[2021-05-26 12:39] grimstoner commented on #440
The SetPagination method in UIPaginationFiller is called before the _instantiatedImages field is instantiated. There is code to do this in the Start method, but it seems that it may be called too late.

[2021-06-04 18:51] hinesca opened #442 "PlantCritter y axis rotation (attack direction) resets during attack animation."
![2021-06-04 11_45_13-UOP1_Project - TestingGround - PC, Mac   Linux Standalone - Unity 2020 3 7f1 Per](https://user-images.githubusercontent.com/38190540/120849408-ecf96e00-c52a-11eb-811c-1203fbeb58ea.png)
![2021-06-04 11_46_19-UOP1_Project - TestingGround - PC, Mac   Linux Standalone - Unity 2020 3 7f1 Per](https://user-images.githubusercontent.com/38190540/120849429-f387e580-c52a-11eb-8c40-d484

[2021-06-04 19:02] hinesca commented on #442
This bug can be assigned to me. It seems that this will be an easy issue to fix. I don't quite have the experience with Unity and this project yet to know exactly where the issue lives within the project, but I intent on learning.

[2021-06-05 21:42] shuttle127 commented on #366
Been so swamped lately that have only now gotten a chance to update to the latest code and re-profile, so here's a Dropbox link to a ZIP file of me starting the game on the beach, taking a few steps, attacking the air a few times, and jumping.

https://www.dropbox.com/sh/2rcv8ws0j9fdbrd/AABJzHf2UsDKt5Mk0V7KdzwEa?dl=0

[2021-06-05 21:50] shuttle127 commented on #442
Bugs don't get "assigned" per se, they're just noted and people work on them. If this is something you'd like to figure out, fork the main repo, code up the fix, and make a PR. Hopefully it's a simple enough fix, good luck!

[2021-06-06 21:23] dr-mimic commented on #439
this is working running Windows 10 Pro Unity 2020.3.7f1

what OS are you running / how are you running game ?

[2021-06-07 14:52] amel-unity commented on #442
Hello!
Thank you @hinesca  for noticing the issue. This is happening because the Face Protagonist action called on the Alert, Fighting and Reloading states on the state machine of the plant critter is the one meant to be used for the NPC and not the Critter.

When I started working on the state machines of the NPCs, I used the FaceProtagonist action we had in the project, which was used for the cr

[2021-06-07 18:10] hinesca commented on #442
Great! Thanks, Amel.

Before reading your reply I got a pull request ready to solve this a slightly different way, but it looks like what you have done is more general, and I don't have the experience you do so fee free to ignore it.

Rather then change the animation in the alert state to a new CritterFaceProtagonist animation, I added the existing NPCFaceProtagonist action to the Attack State whi

[2021-06-15 13:08] amel-unity commented on #442
Hi @hinesca , thank you for opening the PR and looking into the issue. The solution you are suggesting would also work but I will keep the one that is currenlty on main just because if we use the same action, it means that we will be storing the rotation and assigning it again on action exit even though we don't really need it and as this will be used on all the critters and on multiple states (an

[2021-06-15 23:09] lteran9 opened #446 "DialogueDataSO clearing Dialogue Lines"
**Short description**
The SetDialogueLines and CreateLine line methods of the DialogueDataSO.cs class are clearing the _dialogueLines property. Not sure if there is a reason for this but it will break the gameplay on the TestingGrounds scene; mainly the Default-Earl dialogue scriptable object.

**Expected behaviour**
1. Default-Earl dialogue line(s) not be deleted / cleared
2. Be able to talk with

[2021-06-16 09:47] #440 closed

[2021-06-16 12:24] uChema commented on #446
Hey!
My mistake, when pushing I forgot to switch the name for the scriptable object to Default-Townsfolk2 (which is the new placeholder for the character previously named "Earl" ).
The DialogueDataSO has a function that fills the lines from the Localized String Table depending on the name of the SO. It should be resolved if you change the name of the SO to Default-Townsfolk2. A fix was just pushed

[2021-06-16 12:24] #446 closed

[2021-06-16 12:25] uChema commented on #439
This should be working now !
Thanks for the report.

[2021-06-16 12:25] #439 closed

[2021-06-16 12:29] uChema commented on #430
Thanks for the report !
This issue was taken care of !
When refactoring, we renamed some scripts. This is now called : UIInventoryItem.cs
This is the new function :
[code]
That way if no item is in the inventory, we wont even have the "_imgSelected" active !

[2021-06-16 12:29] #430 closed

[2021-06-16 12:31] uChema commented on #428
Hello ! Thanks for the report !
We had some issues while switching from fully mouse controlled to Mouse/Keyboard/Controllers at the same time.
Right now, it should be working on main.
Please tell us if this still persists for you.
Thanks ,

[2021-06-16 12:31] #428 closed

[2021-06-16 19:22] am-5 commented on #421
I'd like to try to fix this! It'd be my first time contributing to the project

[2021-06-19 17:07] ciro-unity commented on #421
Please, feel free. It might be a bit of a task (or maybe super easy, who knows!) but it would be cool if you manage!

[2021-06-25 16:23] pointfivetee opened #450 "Deleting transition from table causes errors"
In the transition table editor, removing the last transition in a list causes a bunch of NullReference exceptions while the table inspector disappears out of focus.

**Expected behaviour**
The transition should simply disappear from the list without error messages or changing the focus of the table inspector.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the transition table editor.
2

[2021-06-25 19:10] ciro-unity opened #453 "Looping SFX are still playing when changing scene"
**Short description**
Looping SFX like the fire of the cooking pot are not stopped when moving between scenes.

**Expected behaviour**
All gameplay SFX should stop when a Location scene gets unloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Beach scene.
2. Move to the Field_Hill scene.
3. Observe when the scene is loading, for an instant, you can hear the fire SFX very loud.

[2021-06-28 12:54] #442 closed

[2021-06-28 13:45] amel-unity commented on #450
Thanks a lot @pointfivetee for opening the issue and proposing a solution! The PR fixes it, I will merge it now :)

[2021-06-28 13:46] #450 closed

[2021-06-29 09:49] huleli opened #456 "Multiple event regist and unregist generate too much GC"
**Short description**
The scriptable object event system is a smart way and I like the style. But I get one performant issue.
Take InputReader as an example, In my case, I use about 40 gameobjects.

Each gameobject use a simple regist and unregist   in OnEnable and OnDisable.

and enable gameobject and disable gameobject.

Then I noticed a lot GCAlloc  about 60kb of 11 calls in profiler.

Is there

[2021-06-29 16:30] #453 closed

[2021-06-30 10:56] ciro-unity opened #459 "Landing particles and SFX play when attacking in the air"
**Short description**
When the attack button is pressed while the character is in the air, the landing particles and SFX play.

**Expected behaviour**
These effects should play only when landing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any scene. Press Play.
2. Jump, and press attack in the air.
3. Notice that the puff of dust particles are emitted, and the landing SFX plays.

*

[2021-06-30 12:26] amel-unity commented on #426
Hi @asb9599 , thank you for opening the issue. There is a PR open that might fix it but I just wanted to mention it here also that we are working on fixing the character controller first since we have some unpleasant situations like what you mentioned on the issue or when the character gets stuck so we will try to fix that first and then we can work on the minor issues with the colliders on the ob

[2021-07-01 01:35] shuttle127 commented on #459
So I saw this and thought, "hey, it's gotta be a simple state machine/transition issue," and I *think* I was right. Unfortunately, not quite sure how to solve it, so here's what I've got so far (apologies if someone else has already looked into it, I didn't see a thread on the forums yet).

==============================================

When you do a normal jump without attacking, the states are

[2021-07-02 10:02] Eyap53 opened #462 "DOTween errors when building Player content."
**Short description**
When trying to build player content (in the Addressable window), it fails.
It seems like the DOTween addon has some missing references.
(Error messages are like so : `Assets\Addons\DOTween\Modules\DOTweenModuleUI.cs(42,57): error CS0012: The type 'Vector2' is defined in an assembly that is not referenced. You must add a reference to assembly 'UnityEngine, Version=0.0.0.0, Cul

[2021-07-06 12:02] #459 closed

[2021-07-10 20:14] IsaiahKelly opened #477 "[Request] Exclude "Samples" folder from the repository"
I have been getting annoying console warnings related to the localization samples, which can be easily ignored. However, yesterday when opening the project I was prompted to enter "safe mode" due to errors, which was very odd considering I had not changed anything in the project since the last time it was opened and working fine.

After investigating this a little it appeared the localization samp

[2021-07-15 11:57] ciro-unity commented on #477
Out of curiosity: were you using the Hub v3.0.0 (Beta) when this happened?

In any case I agree we should remove them.

[2021-07-15 12:02] ciro-unity commented on #462
Just to add to this, I would be very surprised if DOTween was the issue because I've built versions of the game with it inside, and it's a very proven asset. Not sure why you see it pop up like that, probably a chain of previous errors leads to that?

[2021-07-16 23:16] paciFIST-Studios opened #478 "Bug:: UIMenuManager:: Throws NullReferenceException on game exit"
**Short description**
When exiting play mode via the in-game menu, UIMenuManager throws a NullReferenceException

**Expected behaviour**
No exceptions are thrown as the game shuts down

**To Reproduce**
Steps to reproduce the behavior:

1. Load project and enter play mode
2. Open pause menu -> Exit to Main Menu -> confirm exit

3. From Main Menu:
4. Choose Exit -> confirm exit

Result
5. Unity thr

[2021-07-19 08:13] uChema commented on #478
Hey @paciFIST-Studios  !
Thanks for bringing this to our attention !

I took a look at this issue and found out two things :
First the NullRef error is thrown because we're calling _onGameExitEvent.OnEventRaised() and not _onGameExitEvent.RaiseEvent()
Second : I don't think we're using this event anywhere else in the project. So no one is subscribed to this channel nor listening to the event. Also

[2021-07-19 08:22] #478 closed

[2021-07-20 15:31] Eyap53 commented on #462
Well, I was just as surprised !
I just tried to build the player content in Addressable Groups (not the actual build), and yeah I still got a lot of errors (around 500), and most of them seem to come from DOTween. It may be a chain of errors, but the inspector only shows that :

![image](https://user-images.githubusercontent.com/24421318/126351861-d603f4e7-0a66-4b83-ae02-280a2176c2f3.png)

I'm usi

[2021-07-26 11:11] #399 closed

[2021-07-27 12:32] ciro-unity commented on #462
So strange... did you try to "clean" the build before building, using the option in the Addressable Groups window?
I just did a content build and Unity peacefully built it in 6 minutes or so.

![image](https://user-images.githubusercontent.com/20049224/127153967-486d3326-8298-416b-897a-b6046d700863.png)

I'm not sure what could be causing that behaviour 🤔

[2021-07-29 17:59] IsaiahKelly commented on #477
I don't remember, but the error was pointing to the samples folder in any case. So removing the samples would have most likely prevented this error, even if it was related to the Hub beta.

[2021-08-02 19:53] StenBone opened #483 "'E' to talk does nothing in conversations"
**Short description**
After the player has initiated a conversation with an NPC by pressing the 'E' key, the prompt for the 'E' key remains on screen even though pressing 'E' does nothing to move the conversation forward. The player must press the 'Space' key to move the conversation forward. This leads to confusion for the player just starting the game without knowledge of the key bindings(experi

[2021-08-04 04:48] Haxsen commented on #483
Hi everyone, I am new in this community. I hope ya'll doing great.

I say we should switch to "Space", "E" is a button for 'use' action usually. Also changing 'Talk' message into 'Skip' or 'Next'.

[2021-08-04 05:02] Haxsen opened #484 "NPC townsfolk passes through bard hare."
**Short description**
Walking NPC townsfolk passes through bard hare without colliding.

**Expected behaviour**
- NPC townsfolk should avoid moving in direction of bard hare.
- NPC townsfolk should collide with bard hare and/or change it's movement direction.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the 'TestingGround' scene.
2. Click on 'Play' button to enter Playmode.
3. Take y

[2021-08-04 05:11] Haxsen opened #485 "NullReferenceException after starting the game."
**Short description**
NullReferenceException is shown at the start when we hit the play button.

**Expected behaviour**
There should be no NullReferenceException on playing the game as is when cloned from the repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Open TestingGround or the Beach scene (any scene having bard hare).
2. Click on 'Play' to enter playmode.
3. Open the console

[2021-08-04 05:23] Haxsen commented on #485
[this](https://github.com/UnityTechnologies/open-project-1/commit/8a9f1d8074db122067035ad55d336d2f2d0b8869) fixes the issue.

[2021-08-04 05:23] #485 closed

[2021-08-05 09:37] Haxsen commented on #483
How about this?

https://user-images.githubusercontent.com/33906649/128328383-b4d0c292-7038-47b9-b6a9-1b502c3001a6.mp4

[2021-08-06 01:48] HarshNarayanJha opened #486 "Loading the currently loaded scene gives error."
Hey there. Whenever we try to load a scene, it gets loaded from the AssetBundle and the the scene is loaded. But if we try to load it again while it is loaded, Addressables gives error that the **Asset** is already loaded. And that is expected.

**Expected behaviour**
Expected behaviour is the scene assets should be properly unloaded, then again loaded. I tried this, but was unsuccessful. So what

[2021-08-16 14:43] normyp commented on #262
Hello, could I try fixing this bug?

[2021-08-16 18:07] normyp opened #488 "NullReferenceException when entering dark red block"
**Short description**
This sometimes occurs:
[code]
**Expected behaviour**
Should not raise an exception.

**To Reproduce**
Walk into the dark red block near the starting point.

[2021-08-17 10:58] normyp commented on #483
@Haxsen looks good to me. Are you going to submit a PR?

[2021-08-17 17:45] Haxsen commented on #483
@normyp  I am not sure yet since there's no response of the developers.

[2021-08-23 07:32] ciro-unity commented on #488
As mentioned in the PR #489, we generally don't want to prevent NullReference Exceptions. They are a great warning that something is missing, and "silencing" them might lead to invisible bugs in the build.

I'll be closing this soon, just leaving it a bit for yours and others' awareness. Thanks anyway!

[2021-08-23 10:20] ciro-unity commented on #486
Sorry but this is not really an issue - unless I misunderstood? I'll be closing Issue and PR.

[2021-08-23 10:20] #486 closed

[2021-08-23 10:50] ciro-unity commented on #456
Is this a performance issue on Chop Chop, or on your game?
Different games might require different architecture. We created this system for Chop Chop, and it does the job. If the performance is low on Chop Chop, we'll look into fixing it, but otherwise it is something that you'd need to figure out on your own, sorry!

[2021-08-23 10:51] ciro-unity commented on #462
Closing since the issue doesn't seem to happen. (verified multiple times)

[2021-08-23 10:51] #462 closed

[2021-08-23 10:54] ciro-unity commented on #483
We're taking a look at this. @uChema is doing a lot of work on the UI, so it might not end up being an issue. I've marked it as Important though, so we'll come back to it! No PR needed for now.

Thanks 🙏🏻

[2021-08-23 10:55] ciro-unity commented on #484
Thanks for reporting it! Although this is happening in the test scene, and things in there change a lot all the time :)

It seems though that to fix it, one would just need to bake the navmesh again. Seems like the Bard Hare is not part of it, so the Townsfolk pathfinds through it.

[2021-08-23 12:38] uChema commented on #483
Hey everyone !
This looks good and we were discussing the issue.
The problem here is that the interaction prompt "E" is independent from the DialogueSystem and is triggered each time a character is colliding with the player. I'll try to change the "E" button to "Space" as @Haxsen proposed . The GameState system that we implemented lately could help us in detecting if a character is in Dialogue, an

[2021-08-25 05:18] Haxsen commented on #483
Hi @uChema hope you're doing well.
My solution was very simple, i.e. Enabling the skip button overlay whenever a conversation is started. I thought this simple solution will be fine in this case.

[2021-08-25 07:34] thedeepakchaturvedi commented on #488
The NullReferenceException occurs because we haven't specified the Location To Path & Location Storage to any initial value in the inspector panel, although its value is default in the script. So it is not able to load any scene when we enter the trigger. Is this issue closed ?? Can I work on this issue to remove the error that is preventing scene switching.

[2021-08-30 17:39] jamesplease opened #494 "Build error:"
Hi! I've been following the Wiki to better understand this project, but I was unable to successfully complete [the instructions](https://github.com/UnityTechnologies/open-project-1/wiki/Building-the-game) on building the project.

When I attempt to build from the `main` branch I receive this error:

[code]

Here's a screenshot showing the error:

![image](https://user-images.githubusercontent.com/

[2021-09-05 10:44] ciro-unity commented on #488
As mentioned in PR #489, the PR and the Bug are looking at the wrong issue and the wrong way to fix it. The issue is in the scene (i.e. the referenced SOs), not in the script. In fact, it doesn't mention the scene where it happens.
So don't worry about fixing it, I'm working on all scenes to wrap up the project so that might cause a conflict. I'll review all entrances/exits.
Thanks though!

[2021-09-05 10:44] #488 closed

[2021-09-05 10:51] ciro-unity commented on #494
Thanks @jamesplease. The issue is exactly what the debug panel reports: there are classes that are part of the `UnityEditor` namespace which are being included in the code that has to go into the build. This makes it fail, since builds cannot contain any editor-related code.
This is a mistake on our end, should be easy to fix by just wrapping those classes in a conditional compilation, to say the

[2021-09-06 08:34] normyp commented on #488
Okay, thanks for your feedback. :-)

[2021-09-25 16:24] kablouser opened #499 "Horizontal movement is stuck on rock"
**Short description**
Moving into the rock sometimes stops all horizontal movement. You must jump to move again.

**Expected behaviour**
Moving into the rock shouldn't stop horizontal movement. (But obviously stops you from moving into the rock)

**To Reproduce**
Steps to reproduce the behavior:
1. Open to Scenes/Locations/Beach
2. Go to the rock south (-z direction) to the Hare.
3. Walk into rock

[2021-09-26 19:18] kablouser opened #502 "Jumping into wall adds excessive speed"
**Short description**
A clear and concise description of what the bug is.
When jumping at certain walls, the movement speed suddenly increases.

**Expected behaviour**
Jumping at walls shouldn't speed you up.

**To Reproduce**
Steps to reproduce the behavior:
1. Open scene Scenes/WIP/TestingGround_Small
2. Go to the largest wall/ramp thing
3. Hold the forward button [W]
4. Jump at its vertical fac

[2021-09-27 01:24] theaia opened #504 "First quest area to Field Hill can be skipped"
**Short description**
The field hill area which spawns the Plant Critter which needs to be defeated for the first quest can be accidentally or purposefully skipped.

**Expected behaviour**
I would expect any of the following:
1) Entering any location of the Field hill area should change to the scene
or
2) I shouldn't be able to climb the rocks to get to this area and would be forced through the ma

[2021-09-27 01:54] theaia opened #505 "No collider on oven"
**Short description**
The protagonist can occupy the space of the oven because it has no collider.

**Expected behaviour**
The oven should be a physical object whose space cannot be occupied by the protagonist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Town_Market scene
2. Walk to the oven between the Felfel and Townsfolk_M

![missing collider](https://i.imgur.com/s8IcHCq.png

[2021-09-27 16:51] kablouser commented on #504
I don't think the levels are "finished". For example, you can walk out into the sea endlessly and fall off the world.

[2021-10-17 10:57] ub3132003 commented on #462
just install lv2cpp in unityHub. it's working in my project.

[2021-11-13 14:29] EricBatlle opened #508 "Question: What about Assemblies?"
I've check the project to get more references on "good practices" about architecture and project setup, and I didn't saw any Assembly file, is that on porpouse? Or it's simply on the road and have not arrived yet?
Thanks!

[2022-01-13 18:06] Zanoshky opened #512 "Question: Properly Loading with ScriptableObjects and its Events"
Can be closed

[2022-01-15 11:32] #512 closed

[2022-01-18 16:56] gotanidea opened #513 "Cannot Play the Game with Unity 2020.3.26f1 LTS Due to Addressable Errors"
**Short description**
I just cloned the latest _UOP1_Project_ and played it with the latest _Unity 2020.3 LTS_ version (version _2020.3.26f1_), but I got two _Addressable_ errors on the _Console_.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the latest _UOP1_Project_.
2. Open it with the latest _Unity 2020.3 LTS_ version (version _2020.3.26f1_).
3. Open _Scenes / Initialization_ sce

[2022-01-20 11:10] #513 closed

[2022-02-04 00:20] mikeymusch opened #514 "Opening State Machine Editor Window crashes Unity in 2021.2.9 and newer"
Opening the State Machine Editor window will throw a NullReferenceException error, then when you close the editor window Unity crashes.

Here is the error:

NullReferenceException: Object reference not set to an instance of an object
UOP1.StateMachine.Editor.TransitionTableEditorWindow.CreateListView () (at Assets/_Project/Scripts/Editor/TransitionTableEditorWindow.cs:86)
UOP1.StateMachine.Editor.

[2022-02-27 09:43] maro99 commented on #505
okay next year I will

[2022-03-14 09:14] pinkusrg opened #516 "Audio Save System Bug"
**Short description**
When saving the new audio settings and reopened, the new values are not reflected accordingly to the last saved in the UI Audio settings panel

**Expected behaviour**
Last saved settings should reflect in the Audio setting panel to change again from the last value.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Audio Settings
2. Update values and save it and close

[2022-03-14 22:18] pena060 opened #518 "Loading screen does not support 21:9 screens"
**Short description**
When the game loads, the loading screen does not adjust to a 21:9 display like the rest of the game does. Because it does not adjust to the screen, the loading screen is overlayed on top of the menu screen.

**Expected behavior**
The loading screen should adjust to the display it is being displayed in. or add black bars to aspect ratios it does not support.

**To Reproduce**

[2022-03-27 15:07] youssef-aydi opened #519 "Character stuck inside the tree"
**Short description**
while moving next to the tree behind the rocks , the character get stuck , you can only unstuck him with the "space" key button on the keyboard
**Expected behavior**
The character get stuck
**To Reproduce**
Steps to reproduce the behavior:
1. Go to that specific tree behind the rocks in the first scene
2. move very closely to it
3. the character will be stuck

**Notes**
- You

[2022-04-11 02:06] Cop1ous opened #520 "I cant open the ZIP file"
I'm new to this but I'm trying to open the ZIP file using WinRAR(If that helps), and it keeps telling me I have an 'unexpected end of archive.', I've tried redownloading it twice.

I'm trying to access the shaders file for a unity project using C#. If anyone has an alternative I could use instead that would also be helpful.

All I'm doing is downloading the Zip file and opening it, I can close the

[2022-04-11 02:47] Haruxe commented on #520
You need to extract the .zip file using winrar first before opening it. It will extract to the same location by default and you can use the file from there; using the files while zipped will cause some problems.

[2022-04-19 12:43] JandProtaGames opened #522 "Shader error: Invalid subscript 'shadowCoord' when try build for mac"
When build for mac, this error is unabling us to build our game:

Error building Player: Shader error in 'Shader Graphs/CharacterToonV2': invalid subscript 'shadowCoord' at /tmp/build/prota-games/game/hom-project-unity/Library/PackageCache/com.unity.render-pipelines.universal@10.8.1/Editor/ShaderGraph/Includes/Varyings.hlsl(114) (on metal)

[2022-05-23 06:04] XTechwormX commented on #262
Huh... glad I'm not the only one.

I just had this happpened on my own game. In particular it happened on "Unity version 2020.3.19f1 Personal <DX11>" on a Windows 10. I think it's the same bug as described here: input wouldn't work for a few seconds upon starting, whether that be a built game or not (of course it resolved itself lol).

If the bug I encountered is indeed this one talked about here,

[2022-06-04 21:31] gmiv commented on #514
@ciro-unity Do you all have any pointers as to how we can patch this?
This seems like a really great state machine but It's crashing on 2021.3.2f1 for me.

[2022-09-15 01:36] SHthemW opened #526 "Operation Suggest"
I can't move my view with my mouse! It brings a lot of inconvenient.
Especially it's a open-world game and I need to look around often.